[2017-07-27 15:26] HelenFoster commented on #2468
Would have to add a getDisplayMode function to do that.

[2017-07-27 16:02] veler commented on #2513
Fixed in [https://github.com/Microsoft/pxt/pull/2533](https://github.com/Microsoft/pxt/pull/2533)

[2017-07-27 18:02] microsoftsam commented on #2517
Popup blocker on?

[2017-07-27 18:05] microsoftsam commented on #2186
I think this has been fixed. @DavidWhaleMEF ?

[2017-07-27 18:11] veler commented on #2524
After investigation : I've found how to give the focus back after selecting a file, but it looks like the other described issues are linked to some native behavior. Same reproduction here : [https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_fileupload_get](https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_fileupload_get)

Suggested fix @microsoftsam  : make a custom input field

[2017-07-27 21:00] veler commented on #2530
The open documentation in new tab is now accessible [https://github.com/Microsoft/pxt/pull/2552](https://github.com/Microsoft/pxt/pull/2552). The other points are part of the documentation, I will work on it later, probably in a few days or weeks.

[2017-07-27 21:05] veler commented on #2551
The give feedback website is an external website. We don't have the control on it. We cannot fix it.

[2017-07-27 21:06] veler commented on #2549
The give feedback website is an external website. We don't have the control on it. We cannot fix it.

[2017-07-27 21:21] #2513 closed

[2017-07-27 21:48] tballmsft opened #2553 "nested handlers doesn't convert"
See https://makecode.microbit.org/_6hJetPWAy2rz

The code is
[code]
Note that control.inBackground is a one-shot function with no guarding event, so it is fine to call it multiple times to queue work to run in parallel.

[2017-07-27 22:19] myjeeed opened #2554 "Allow programatically flashing the device with a .uf2 file on localhost"
I need to have the ability to programatically flash the device with the streamer code (that would simply `serial.writeLine("A " + accX + " " + accY + " " + accZ);` every 40ms).

Here are some of the options:
1. push the current state of main.ts -> modify main.ts with the streamer code -> compile -> pop the changes back to main.ts
2. have a function that would flash the device with a .uf2 file (tha

[2017-07-27 22:59] veler commented on #2529
The open documentation in new tab is now accessible [https://github.com/Microsoft/pxt/pull/2552](https://github.com/Microsoft/pxt/pull/2552). The other points are part of the documentation, I will work on it later, probably in a few days or weeks.

[2017-07-28 00:29] #1918 closed

[2017-07-28 00:38] caitlin-hennessy commented on #2219
Fixed by https://github.com/Microsoft/pxt-microbit/pull/465

[2017-07-28 00:38] #2219 closed

[2017-07-28 05:52] v-swasha opened #2562 "[Keyboard Navigation-Project-My Stuff]Focus does not moves to ‘Pick a name for your project’ after selecting New Project under My Stuff screen."
**User Experience:**
Users who are dependent on keyboard navigation or people with mobility impairments who cannot use a mouse will not be able to understand and interact with the page properly if focus does not moves to desired element on the page.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps**
1. Navigate to https://makecode.microbit.org/acc
2. N

[2017-07-28 06:32] v-swasha opened #2563 "[Screen Reader-Settings-Give feed back] Heading levels are not defined properly on the Give Feedback Screen."
**User Experience:**
Users with cognitive disabilities may rely on utilities to outline or summarize content based on headings, labels, and other landmarks. When these headings and labels are not descriptive of their related content, these utilities can work poorly and degrade the user’s ability to understand and navigate the product or service.

**Test Environment**
OS: RS2 Version 1703(OS Build

[2017-07-28 06:47] v-swasha opened #2564 "[Screen Reader-Header controls-Projects]Narrator is not providing the correct information about the ‘Project’ Menu items showing under header Controls."
**Pre-Requisite:** Turn on Narrator(Win + Ctrl + Enter)

**User Experience:** Users who depends on Screen Reader will get confused if Narrator will not provide correct information about the Menu items.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool used:-IE Developer (F12)

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/acc
2. Navigate to the M

[2017-07-28 07:15] v-swasha opened #2565 "[Forms and Validation - Settings - Project Settings]Label is not defined for ‘Name edit field’ on project settings pane."
**User Experience:**
Users who rely on screen reader would find it difficult to get the appropriate information about various input fields.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element and select Code control given on it.
3-Navigate to the Settings control

[2017-07-28 08:16] v-swasha opened #2566 "[Keyboard Navigation - Settings - Project Settings]Visual focus indicator is not visible on save and Editing settings as text buttons on project settings pane."
**User Experience:**
Users who depends on Keyboard will feel difficulty to access any controls if Focus indicator is not visible on that.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element and select Code control given on it.
3-Navigate to the Settings control l

[2017-07-28 09:39] carlosperate commented on #2219
Thanks @caitlin-hennessy !

[2017-07-28 10:46] v-swasha opened #2567 "[Screen Reader-Home Page]: 'Skip to Content' link is not defined on MakeCode home page."
**User Experience:**
Screen reader users who visit several pages on the same site can avoid having to hear all heading graphics and dozens of navigation links on every page before the main content is spoken.

**Test Environment:**
OS: Windows 10 RS2
Build: 15063.2
Browser: Edge, FF

**Steps to reproduce:**
1-Navigate to url:- https://makecode.com/
2-Navigate through all controls (say computing edu

[2017-07-28 11:10] v-swasha opened #2568 "[Screen Reader-Help-Projects]: Narrator focus not in proper order inside Projects screen in Scan mode."
**User Experience:**
Users who depends on Screen reader will get confuse if Narrator focus not in proper order inside Projects screen in Scan mode.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Pre-Requisite:** Turn on Narrator
Scan mode : (Caps + Space to set Narrator to scan mode . Use Up/Down arrow keys to navigate )

**Repro Steps:-**
1- Navigate to https:/

[2017-07-28 14:44] #2463 closed

[2017-07-28 14:44] HelenFoster commented on #2495
Looks like `onPinReleased` is already in advanced. That makes it go onto the second page of Input blocks after the "more", right? (As a user, I didn't notice there was a difference between the two pages.)

If adding the other one, `onPinTouched` might be an OK name for it.

[2017-07-28 15:34] veler commented on #2562
@microsoftsam Do you think it is relevant to give the focus to the Project Name field right after creating a project? I am not convinced by that.
But I thought that it could be good to use a aria-live to tell the user that the project has been created.

[2017-07-28 15:35] veler commented on #2563
The give feedback website is an external website. We don't have the control on it. We cannot fix it.

[2017-07-28 16:05] microsoftsam commented on #2430
These are not predefined colors. The limitations of the simulator is that it's trying to show the color with a certain brightness and simulate what the color would look like on the device. Sometime similar colors will look alike more in the simulator than on the real hardware.
Won't fix for now.

[2017-07-28 16:05] #2430 closed

[2017-07-28 16:07] microsoftsam commented on #1804
z-index issue.

[2017-07-28 16:21] sgk opened #2569 "Cannot translate strings from pxt.json"
In the add package dialog, the package names and their descriptions are shown in English. It seems there is no method to translate these strings from "pxt.json" even if it is built-in like "devices".

![image](https://user-images.githubusercontent.com/485416/28726273-8e35c5a0-73fb-11e7-89e8-8ec849699304.png)

[2017-07-28 17:07] microsoftsam commented on #1069
@jaustin thoughts on this glow?
https://jsfiddle.net/hmbg4t1h/

[2017-07-28 18:42] microsoftsam commented on #1742
@jaustin thoughts on this glow?

https://jsfiddle.net/hmbg4t1h/

[2017-07-28 19:02] cait1inhennessy opened #2572 ""Download Screenshot" broken in Edge"
**Test environment**
Edge 40.15063.0.0 running on Windows 10

**Steps to reproduce**
- Navigate to any MakeCode editor, e.g., https://makecode.microbit.org/
- Right click in the editor and select "Download Screenshot"

**Actual result**
Screenshot is not downloaded

**Expected result**
Screenshot is downloaded

[2017-07-28 22:01] myjeeed opened #2576 "Architectural optimizations on the gesture-toolbox"
We need to delay load the user interface dependencies for the gesture-toolbox which are: `npm msr` (MIT License), and `npm d3` (BSD 3 License).

[2017-07-28 22:56] veler opened #2577 "When deleting a block in the editor by doing drap-drop, the Tash icon does not appear"
**Environment**

Windows 10 Creator Update
Microsoft Edge 40.15063.0.0
[https://makecode.microbit.org/beta](https://makecode.microbit.org/beta)

**Reproduce**

- Open [https://makecode.microbit.org/beta](https://makecode.microbit.org/beta)
- Take a block in the block editor (forever for example)
- Drag it to the toolbox to delete it.

**Expected result**

A large Trash icon must appear in the tool

[2017-07-28 23:11] veler commented on #2520
@v-amik Issue fixed and available to test

[2017-07-28 23:12] veler commented on #2522
@v-amik Issue fixed and available to test

[2017-07-28 23:12] veler commented on #2524
@v-amik Issue fixed and available to test

[2017-07-28 23:13] veler commented on #2526
@v-amik Issue fixed and available to test

[2017-07-28 23:13] veler commented on #2544
@v-amik Issue fixed and available to test

[2017-07-28 23:18] abchatra commented on #2576
@myjeeed Is this particular to gesture-toolbox branch?

[2017-07-28 23:27] microsoftsam commented on #2576
Nope, this is an optimization that can be done for any component that we don't need for all targets / all the time.

[2017-07-28 23:38] v-amik commented on #2536
review done

[2017-07-28 23:39] v-amik commented on #2535
review done

[2017-07-28 23:42] v-amik commented on #2534
review done

[2017-07-29 07:53] microsoftsam commented on #2439
Here's something I put together:

![brightnes](https://user-images.githubusercontent.com/16690124/28743174-2f72eadc-73f8-11e7-8124-3e1d5a0946b9.gif)

Changing both the opacity and scale of an led based on the brightness set. Let me know your thoughts @jaustin

[2017-07-29 07:59] microsoftsam commented on #2439
@HelenFoster's project before / after:
<img width="406" alt="screen shot 2017-07-29 at 12 58 41 am" src="https://user-images.githubusercontent.com/16690124/28743213-26b7e978-73f9-11e7-8429-2f52fa597b8b.png">

<img width="376" alt="screen shot 2017-07-29 at 12 57 52 am" src="https://user-images.githubusercontent.com/16690124/28743216-29ecf246-73f9-11e7-9711-7807ba0ee5dc.png">

[2017-07-29 10:21] HelenFoster commented on #2439
That's pretty much what I was thinking, but it doesn't quite do it for the low brightnesses.

On the real micro:bit, it looks like there's a point of light in the middle of each LED. So if the middles were brighter, there could be more contrast at the lower end (e.g. to see the difference in 4 vs 10, or 10 vs 20).

I finally got a good photo! Could it look something like this? Basically we've got

[2017-07-29 11:53] HelenFoster commented on #2439
My previous test program didn't go down to 1, and had more levels than I could see clearly on the real micro:bit - here I've changed it to just 10 levels with doubling.
[code]

And a similar photo of that:

![20170729_123655_crop_ok](https://user-images.githubusercontent.com/5677614/28744631-dca0759e-745c-11e7-880d-03e080896ce2.jpg)

[2017-07-30 09:39] sgk opened #2582 "Toolbox hides menu items in JavaScript mode"
See the picture below. The toolbox hides the left most part of the menu items. This happens to the translated languages which the toolbox width changes if "Advanced" is open.

Try as follows:
1. Change the language to Japanese or Sinhala.
1. Click "Advanced" to open it.
1. Click "Basic" or any other toolbox item.

![image](https://user-images.githubusercontent.com/485416/28752239-696d4fe4-7555-11e

[2017-07-31 05:49] v-swasha opened #2583 "[Screen Reader-Help-Projects]Narrator does not give information when the focus is on red icons in Scan mode."
**User Experience:**
User who depends on Screen reader will get confused if narrator does not give information when the focus in on red icons in Scan mode.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Screen reader: Narrator

**Repro Steps:-**
1- Navigate to https://makecode.microbit.org/acc
2-Navigate to the Microbit section element and select Code control given

[2017-07-31 07:01] v-swasha opened #2584 "[Screen Reader-Microbit Menu Controls] Micro bit menu controls like Basic, Input are not accessible."
**User Experience:**
Users with Visual disabilities might not able to access the controls if some elements are not accessible by Keyboard. Like in the scenario micro bit menu controls are not accessible by keyboard.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Micr

[2017-07-31 07:20] v-swasha opened #2585 "[Screen Reader-Microbit editor]: 'Alt' Text is not defined for the image."
**User Experience:**
User with Visual disabilities might not able to understand the image if 'Alt' Text is not defined. Like in the scenario alt text is not defined for the images.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/acc
2-Navigate to the Microbit section element and select

[2017-07-31 10:11] v-swasha opened #2586 "[Screen Reader-Microbit Menu Controls]: Flyouts of the menu controls like Basic, Input are not accessible by Keyboard."
**User Experience:**
Users with Visual disabilities might not able to access the controls if elements are not accessible by Keyboard. Like in the scenario Fly out of the menu controls like Basic, Input are not accessible by Keyboard.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navi

[2017-07-31 10:33] v-swasha opened #2587 "[Screen Reader -Microbit menu controls -Advanced-Images]: Screen Reader is not reading any information for LED blocks"
User Experience
If Screen reader is reading any information for led blocks, then the end user who rely on screen reader will find difficult to interact with the this type of controls

Test Environment
OS: RS2 Version 1703(OS Build 15063.2
Platform: Edge.

Repro Steps
1-Navigate to url:- https://makecode.com/
2-Navigate to the Microbit section element and select Code control given on it.
3-Navigate

[2017-07-31 10:58] v-swasha opened #2588 "[Screen Reader-Help-Projects] 'Alt' attribute is not defined for the images like Flashing Heart, Smiley buttons on Projects screen."
**User Experience:**
User with Visual disabilities might not able to understand the image if 'Alt' Text is not defined. Like in the scenario alt text is not defined for the images.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Screen reader:** Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.microbit.org/acc
2-Navigate to the Microbit section eleme

[2017-07-31 12:05] v-swasha opened #2589 "[Screen Reader-settings-About] Link purpose is not descriptive enough for the all links on about pane"
**User Experience:**
If a link doesn't have valid text to identify itself, then screen readers will not be able to read the link clearly, it will just be read out to the visually impaired user as “link.” which then makes it difficult for the blind users to understand the purpose or meaning on the link.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Screen reader: Na

[2017-07-31 15:26] abchatra commented on #2588
@v-mesala once you add label remove the reference from the title. For example remove [AllyBlocking]  and others from the title in this issue

[2017-08-01 00:21] caitlin-hennessy commented on #2516
Fixed by https://github.com/Microsoft/pxt/pull/2592 and https://github.com/Microsoft/pxt/pull/2590.

[2017-08-01 00:22] #2516 closed

[2017-08-01 06:39] v-swasha opened #2593 "[Screen Reader-Microbit Menu Controls] Focus order is not logical in scan mode of narrator at Fly outs of micro bit menu controls."
**User Experience:**
Users with Visual disabilities might be confuse if focus order is not logical in scan mode of narrator. Like in the scenario focus order is not logical in scan mode at micro bit controls fly outs.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Micr

[2017-08-01 07:01] v-swasha opened #2594 "[Visual Requirement-Home Page-Navigation]Luminosity ratio is less than 4.5:1 for some texts showing on the Home Page."
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1. Navigate to https:/makecode.com/
2. Navigate through all controls (say computing educati

[2017-08-01 07:14] v-swasha opened #2595 "[Screen Reader-Home Page-Navigation]Name Property is not defined for the Video Play button for videos showing under Get inspired section."
**User Experience:**
If any control have incorrect role defined then the person with visual related disability will find it difficult to interpret the proper fields information. This will hinder him to access all the controls of the page efficiently and also not compatible with AT.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Prerequisites:** Turn on Narrator

[2017-08-01 07:16] v-swasha opened #2596 "[Screen Reader-Microbit Menu Controls] Control type is not defined for the controls in the Fly out of the micro bit menu items."
**User Experience:**
Users with Visual disabilities might not able to access the controls if control type is not defined. Like in the scenario Control type is not defined for the controls in the Fly out of the micro bit menu items.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Naviga

[2017-08-01 07:29] v-mesala opened #2597 "[Keyboard Navigation-Home Page-Navigation]Focus order is not logical on the videos showing under Get inspired section."
**User Experience:**
If focus moves here and there and does not follow proper order then it would be difficult to access any Page for a Screen reader dependent users.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps:-**
1. Navigate to url : https://makecode.com/
2. Navigate through all controls (say computing education, about Microsoft makecode, get in

[2017-08-01 07:53] v-mesala opened #2598 "[Keyboard Navigation-Home Page-Navigation]Multiple H1 tags are used on Home Page."
**User Experience:**
Users who depends Keyboard and screen reader will difficulty to access the headings if they are not defined properly under Heading tags.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Browser : Edge.
Tool Used: Edge Developer Tool

**Repro Steps:-**
1. Navigate to url : https://makecode.com/
2. Navigate through all controls (say computing education, about Micr

[2017-08-01 07:54] yanlxu opened #2599 "The icons "Edit" and "Play" couldn't work in document "JavaScript"->"Sequencing""
Repro steps:
• Navigate to https://makecode.microbit.org/
• Click "JavaScript" under "?"
• Click the "Sequencing"
• Click the icons "Edit" and "Play"

Expected result:
The icon "Edit" can work and the vide can be loaded when click the icon "Play"
Actual result:
The icon "Edit" couldn't work and the video couldn't be loaded when click the icon "Play"

![edit](https://user-images.githubusercontent.c

[2017-08-01 08:00] Emma-sunny opened #2600 "Project "radio dashboard" exists some syntax errors which cause IE can't switch "JavaScript" to "Blocks"."
**Repro step:**
- Navigate to [https://makecode.microbit.org/](url)
- Choose "_Project_", click "_Examples_"
- Then select "_Radio dashboard_"
- Switch from "_JavaScript_" to "_Blocks_"
- Then switch back and observe the content panel
- Switch from "_JavaScript_" to "_Blocks_" again

**Expected result:**
The project as an example, this error shouldn't occur.

**Actual result:**
After switch back t

[2017-08-01 08:11] Emma-sunny opened #2601 "The corresponding simulator of Projects "infection" loads blank on Edge & IE"
**Repro step:**
- Navigate to [https://makecode.microbit.org/projects/infection](url)
- Click the button "_Start the simulator_" at the bottom right corner of "_JavaScript code_" on this page.

**Expected result:**
![chrome_firefox](https://user-images.githubusercontent.com/17866936/28815299-7cf918ac-76d3-11e7-9b6e-c86dc2d1dfac.gif)

**Actual result:**
![edge_ie](https://user-images.githubusercont

[2017-08-01 08:15] v-mesala opened #2602 "[Screen Reader -Microbit menu controls -Variables] Screen reader is not reading proper information of 'make a variable pane' in Scan mode"
User Experience:
Users who depends on Screen reader will get confuse if Narrator does not read proper information of 'Make a variable' pane in Scan Mode

Test Environment:
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

Pre-Requisite: Turn on Narrator

Repro Steps:-
1-Navigate to url:- https://makecode.com/
2-Navigate to the Microbit section element and select Code control given on it.
3

[2017-08-01 08:23] yanlxu opened #2603 "The file name couldn't be display in the edit box after selecting one .hex file when importing file"
Repro steps:
• Navigate to https://makecode.microbit.org/ on Safari & Chrome(not repro on FireFox, Edge and IE)
• Click "Projects" in the Menu bar
• Click the "Import File..."
• Select one .hex file to open

Expected result:
The file name can be display in the edit box after selecting one .hex file, just like display in browser FireFox
Actual result:
The file name couldn't be display in the edit b

[2017-08-01 09:38] v-mesala opened #2604 "[Supporting the platform-Home Page-Navigation]Focus indicator is not visible on all the Sections element like links on all 4 High contrast modes."
**User Experience:**
If a user is not able to see the content properly in any high contrast themes, then this will make it difficult for him to interpret the information properly. This will hinder him from to use the page properly.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Pre-Requisite:** Turn on the High Contrast Settings(Settings>Ease of Access>High Cont

[2017-08-01 10:06] v-mesala opened #2605 "[Visual Requirement-Help-References]Luminosity ratio is less than 4.5:1 for 'show leds' on Basic pane"
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element

[2017-08-01 10:11] v-mesala opened #2606 "[Visual Requirement-Help-References]Luminosity ratio is less than 4.5:1 for 'play tone' and 'for' inside Music section on References pane."
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element

[2017-08-01 10:17] v-mesala opened #2607 "[Screen Reader-Microbit Menu Controls] Control type is defined incorrectly for the Advance Expand/Collapse button."
**User Experience:**
Users with Visual disabilities might not able to understand the controls if control type is incorrectly defined. Like in the scenario Control type is defined incorrectly for the Advance Expand/Collapse button.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigat

[2017-08-01 10:58] v-mesala opened #2608 "[Visual Requirement-Footer-save]Luminosity ratio is less than 4.5:1 for 'Pick a name' place holder on save edit field."
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element

[2017-08-01 12:08] v-mesala opened #2609 "[Keyboard Navigation-Footer-Hide the simulator]Visual focus indicator is not visible on all buttons on footer controls."
**User Experience:**
Users who depends on Keyboard will feel difficulty to access any controls if Focus indicator is not visible on that.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element and select Code control given on it.
3-Navigate to the footer section and

[2017-08-01 12:09] v-mesala opened #2610 "[Keyboard Navigation - Microbit Menu Controls] Focus indicator is navigating to Seperator after 'Math' control Via Tab key."
**User Experience:**
Users with Visual disabilities might get confuse if focus is navigating to non interactive elements. Like in the scenario Focus is navigating to separator and reads information as one of list item.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Mic

[2017-08-01 15:03] bluetooth-mdw opened #2612 "Unsecure pairing should be renamed"
"Unsecure pairing" in project settings should be renamed "No Pairing Required". The current name may encourage people to try to go into pairing mode to establish an "unsecure pairing". With "Unsecure Pairing" selected, however, it is not possible to go into pairing mode since pairing is not required or allowed.

[2017-08-01 15:15] bluetooth-mdw opened #2613 "JustWorks - Button press is not required"
The text on the JustWorks pairing option in Project Settings should be changed. It currently says that a "button press" is required to pair. This is not the case. Pairing is completely automatic, requiring no interaction with the micro:bit once it has been put into pairing mode and pairing initiated on the smartphone or tablet.

[2017-08-01 22:34] #2612 closed

[2017-08-01 22:34] #2613 closed

[2017-08-01 23:30] jaustin opened #2617 "Music tempo block has no argument in dutch"
The argument is missing in dutch and the argument is silently deleted when switching back to blocks from javascript

![dutch set tempo](https://user-images.githubusercontent.com/147113/28851345-c37c89e4-7719-11e7-8079-3ce1d5bf853b.gif)

[2017-08-02 03:13] v-amik commented on #2588
Review done

[2017-08-02 03:33] v-amik commented on #2586
review done

[2017-08-02 03:48] v-amik commented on #2585
review done

[2017-08-02 05:59] v-mesala opened #2618 "[Visual Requirement-Footer-save]Luminosity ratio is less than 4.5:1 for the text in the Microbit editor."
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element

[2017-08-02 09:24] v-mesala opened #2621 "[Keyboard Navigation - Makecode - Microbit Controls] Focus indicator is not visible on the tree View of Microbit Menu controls."
**User Experience**
If Focus indicator is not visible on the tree view of the menu controls then the user with visual disabilities might be confuse where the focus is on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit section element an

[2017-08-02 09:47] v-mesala opened #2622 "[Screen Reader - Makecode - Feedback Survey] Screen Reader is not reading the label information for Radio buttons and Checkboxes."
**User Experience**
If the screen reader will not give label information for Radio buttons and Checkboxes then user with visual disabilities might confuse to select the check box and radio buttons.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Micro bit sectio

[2017-08-02 10:25] v-mesala opened #2623 "[Screen Reader-Home Page-Blog] Name Property is not defined for the 'Print ' button showing on Blog Page."
**User Experience:**
Users with Visual disabilities might not able to understand the controls if Name Property is not defined. Like in the scenario Name Property is not defined for the Print button.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Blog control lying in t

[2017-08-02 10:33] v-mesala opened #2624 "[Visual Requirement-Home Page-Blog]Luminosity ratio is less than 4.5:1 for all the Links showing under Blog page"
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to https://makecode.com/
2-Navigate to the Blog showing on header section and se

[2017-08-02 11:02] v-mesala opened #2625 "[Keyboard Navigation-Home Page-Blog]: Search icon is not accessible using keyboard showing near Search edit box."
**User Experience:**
User who depends on Keyboard with Screen Reader may get restricted from accessing all the functionalities if that element is not accessible using keyboard.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Blog showing in header section and press enter on it.
3-Navigate to t

[2017-08-02 11:09] v-mesala opened #2626 "[Screen Reader-Home Page-Blog] Name Property and Control type is not defined for the 'Search Icon' showing near Search edit box."
**User Experience:**
Users with Visual disabilities might not able to understand the controls if Name Property is not defined. Like in this scenario Name Property is not defined for the Print button.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:- https://makecode.com/
2-Navigate to the Blog control lying in

[2017-08-02 11:22] v-mesala opened #2627 "[Screen Reader - MakeCode - Microbit Menu Controls] Screen reader is reading incorrect info for the search field value after performing delete operation."
**User Experience:**
If Screen reader is reading as end of line deselect even after erasing the text in the search field then users with visual disabilities might be confuse to understand the control.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to https://makecode.microbit.org/acc
2-Navigate to the Micro bit sec

[2017-08-02 11:24] ChrisDorna commented on #2617
The same hapens with the **_digital write pin_** block

[2017-08-02 12:12] HelenFoster commented on #2468
Was fixed instead with manual pause and resume of game engine, in https://github.com/Microsoft/pxt-microbit/pull/476

[2017-08-02 12:12] #2468 closed

[2017-08-02 12:23] v-mesala opened #2628 "[Screen Reader-Home Page]: Screen reader is not providing the complete information about the Section Region Landmark for the Home Page."
**User Experience:**
Screen reader users will not be able to access the Home Page if its Landmark regions are not defined in descriptive ways as users will not get information about the page contents.

**Test Environment:**
OS: Windows 10 RS2
Build: 15063.2
Browser: Edge

**Pre-Requisite:** Turn on the Narrator
**Steps to reproduce:**
1. Navigate to url:- https://makecode.com/
2. Navigate through

[2017-08-02 12:27] v-mesala opened #2629 "[Screen Reader - MakeCode - Simulator] Narrator focus is navigating to hidden element in item mode and reading it as 'simulator'."
**User Experience:**
If Narrator in item mode is navigating to hidden element and reading as simulator then user with visual disabilities may get misguided to understand the behavior of the controls.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps:-**
1-Navigate to url:- https://makecode.microbit.org/acc
2-Navigate to the Microbit section element and

[2017-08-02 12:36] HelenFoster opened #2630 ""Projects" links have different meanings"
Clicking "Projects" in the top-left opens "My Stuff". From there, clicking "Projects" in the top-left opens the list of worksheets. So the same label in the same area does two different things. ("Projects" in the "?" menu opens the list of worksheets, in the help tab.)

![projects1](https://user-images.githubusercontent.com/5677614/28873875-4c974904-7787-11e7-99e7-a1335516555a.png)
![projects2](ht

[2017-08-02 12:37] v-mesala opened #2631 "[Screen Reader - Makecode - Microbit Simulator] Narrator focus is not synchronized with keyboard focus after selecting 'Enter full screen' button."
**User Experience:**
If Narrator focus is not synchronized with keyboard focus after selecting 'Enter full screen' button then user with visual disabilities might confuse whether the action is performed or not.
page in item mode and verify the issue.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps:-**
1-Navigate to url:- https://makecode.com/
2-Navigate

[2017-08-02 13:17] HelenFoster opened #2632 "Function by itself won't convert to blocks"
If we start a new micro:bit project and write the code:
[code]
Then it fails to convert to blocks. Sometimes there's a red line under the pause, saying 'Language feature "basic.pause(2000)" not supported in blocks'.

Add a call to `f()` and then it converts to blocks.

Delete the `on start` block with the function call in it, convert back to JavaScript, and the code looks the same. Change somethin

[2017-08-02 13:35] HelenFoster commented on #2464
"Blocks to script to blocks" normally does the right thing, so it's hard to find an example that proves it one way or the other. I have a feeling I've seen my blocks change before, but couldn't reproduce it. In #2632, if there are no changes to the script, the original blocks are automatically restored (but that might just be because there's an error).

With "script to blocks to script", it's easy

[2017-08-02 13:44] HelenFoster commented on #1111
Looks like this is fixed now.

[2017-08-02 13:56] HelenFoster commented on #778
@riknoll

You don't have a mechanism to store whether a comment was `//` or `/*`, but that's of much less importance.

Why not preserve line breaks anyway? I found the current behaviour unexpected and frustrating. (And if someone has commented out code, it gets broken.)

[2017-08-02 14:28] HelenFoster opened #2633 "Code below a script block is unindented when converting back to script"
This micro:bit program:
[code]

After round trip looks like:
[code]

Using "Format Document" indents it again.

[2017-08-02 16:33] microbit-carlos opened #2634 "Type definition in object literal does not work"
microbit.org-ticket: 2416

We can have object literals:

[code]

But if we want to specify type it doesn't work:

[code]

Or if we try to set it via an previously declared interface:

[code]

With the error indicating that the properties do not exists:

![image](https://user-images.githubusercontent.com/29712657/28883445-663c072c-77a6-11e7-8ce5-542ece5c64f8.png)

Is this type declaration unsupport

[2017-08-02 17:50] caitlin-hennessy commented on #2269
Resolved by https://github.com/Microsoft/pxt/pull/2615 and https://github.com/Microsoft/pxt-microbit/pull/484.

[2017-08-02 17:51] caitlin-hennessy commented on #395
Resolved by https://github.com/Microsoft/pxt/pull/2615 and https://github.com/Microsoft/pxt-microbit/pull/484.

[2017-08-02 17:51] #395 closed

[2017-08-02 18:18] jaustin opened #2637 "Changing a text comparison after JS usage crashes MakeCode and browser tab, appears to destroy code"
The following sequence of events crashes MakeCode on both Safari and Chrome.

1) Create a variable, set the contents to some text
2) Drag in an 'if' block and then a "0 == 0" block
3) Drag the variable into one of the comparison slots
4) Drag some text into the other slot
5) Switch to JS, edit the text for comparison
6) Switch back to blocks
7) Remove the variable from the comparison
... The brows

[2017-08-02 18:34] jaustin opened #2638 "String comparisons are hard to discover/use"
If a user wants to check a variable containing a string matches another string (a common case after, say, "Radio send string" or receiving over serial), it's quite hard to work out how to do it.

Inside the 'Text' category there's a string compare block, but that will do almost the opposite of what people expect, because for two identical strings it returns 0, not a boolean operation (I understand

[2017-08-02 18:46] #1557 closed

[2017-08-02 20:00] veler commented on #2609
@microsoftsam , according to the video in attachment of the issue, there is not outline on the buttons that have the focus. Does the color change is not enough? I'm not sure if it is very relevant.

[2017-08-02 20:03] veler commented on #2625
@microsoftsam , according to the video in attachment of the issue, there is not way to tab to the search button into the search field. But pressing Enter still perform a search. Is it very relevant to give the possibility to tab to a button that does the same thing that pressing Enter in the field?

[2017-08-02 20:06] veler opened #2639 "[Accessibility] Keep in the cookies whether the High Contrast is enabled or not."
There is no reason why a user who enable the high contrast mode would leave it the next time he connects to the website. We could use a cookie to save the user's preferences.

[2017-08-02 20:18] pelikhan commented on #2617
Fixed the issues in crowdin. Will add checks in MakeCode to avoid loading those.

[2017-08-02 20:28] abchatra commented on #2639
Multiple students use the same computer in the school. I wouldn't save high contrast setting as a cookie unless we have more data. Good idea though. Only thing we save in the cookie today is language setting which is unlikely to change in the schools.

[2017-08-02 20:28] #2639 closed

[2017-08-02 20:32] pelikhan commented on #2617
Detecting and ignoring invalid loc strings: https://github.com/Microsoft/pxt/pull/2640

[2017-08-02 20:46] riknoll commented on #2637
This is an upstream blockly bug, but we should change the decompiler so that we don't hit it

[2017-08-02 20:46] microsoftsam opened #2641 "Type error breaks editor on Firefox Android"
Type error in simulator simconfig breaks the editor on Firefox Android

[2017-08-02 20:50] microsoftsam opened #2643 "Editor floats breaks after creating a new block"
Since the latest Blockly release (April), Blockly changes some of the ui events that are called and we no longer get a category close event when a new Block is created.

This meant that we need to explicitly change the state of the editor floats after creating a block.

see issue, with the simulator area not being accessible after a block is created:
![editorfloatsissue](https://user-images.github

[2017-08-02 22:45] veler commented on #2622
This website as an external website, we don't have access to it and cannot do any change.

[2017-08-03 01:02] v-amik commented on #2622
As per process, bug can't be closed until it get assigned to HCL for regression

[2017-08-03 01:04] v-amik commented on #2563
As per process, bug can't be closed until it get assigned to HCL for regression

[2017-08-03 01:14] v-amik commented on #2526
As per process, bug should be assigned to HCL for regression

[2017-08-03 01:15] v-amik commented on #2524
As per process, bug should be assigned to HCL for regression

[2017-08-03 01:19] v-amik commented on #2522
As per process, bug should be assigned to HCL for regression.

For Any external/Won’t Fix/By Design bug, there is a process to go through by Product team.
Please go through the process here:

https://microsoft.sharepoint.com/teams/ceacc/SitePages/Exception process.aspx
https://microsoft.sharepoint.com/teams/ceacc/SitePages/External Bug Process.aspx

[2017-08-03 01:20] v-amik commented on #2520
As per process, bug should be assigned to HCL for regression.

For Any external/Won’t Fix/By Design bug, there is a process to go through by Product team.
Please go through the process here:

https://microsoft.sharepoint.com/teams/ceacc/SitePages/Exception process.aspx
https://microsoft.sharepoint.com/teams/ceacc/SitePages/External Bug Process.aspx

[2017-08-03 06:16] v-mesala opened #2646 "[Screen Reader-Home Page]: Default Lang Attribute is not defined for the Home Page."
**User Experience:**
If Default Lang Attribute is not defined for any web page then it would be difficult for the Screen reader users to access that Web page.

**Test Environment:**
OS: Windows 10 RS2
Build: 15063.2
Browser: Edge
Tool Used: IE11 Developer Tool

**Steps to reproduce:**
1. Navigate to url:- https://makecode.com/
2. Navigate through all controls (say computing education, about Micros

[2017-08-03 06:39] v-mesala opened #2647 "[Screen Reader-Home Page-Blog]: Link Purpose for the all 'Read More' links is not descriptive to the users on the Blog page"
**User Experience:**
User who depends on Screen reader will feel difficulty to access the links if the purpose for the 'Read More' links are not descriptive.

**Test Environment:**
OS: Windows 10 RS2
Build: 15063.2
Browser: Edge
Tool Used: IE11 Developer Tool

**Pre-Requisite**: Turn on the Narrator

**Steps to reproduce:**
1. Navigate to url:- https://makecode.com/
2. Navigate to the Blog showing

[2017-08-03 06:49] v-mesala opened #2648 "[Screen Reader-Home Page-Blog]: Alt Attribute is not defined for the image showing near Documention link on blog page."
**User Experience:**
Users who depends on Screen Reader will get confuse if Atl attribute is not defined for the interactive images,then information about the image will get missed from users.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool Used: IE11 Developer (F12)

**Repro Steps:-**
1. Navigate to https://makecode.com/
2. Navigate to the Blog in header secti

[2017-08-03 07:00] v-mesala opened #2649 "[Keyboard Navigation-Home Page-Blog]: Focus is moving to some hidden link showing on left panel on Blog page"
**User Experience:**
User who depends on Keyboard with screen reader may get misguided about the links and controls if focus moves to any hidden link on Blog Page.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps:-**
1. Navigate to https://makecode.com/
2. Navigate to the Blog in header section and select it.
3. Navigate to the Blog page using tab key.

[2017-08-03 17:11] abchatra commented on #2634
This is not supported yet.

[2017-08-03 17:32] microbit-carlos commented on #2634
Thanks for the quick response @abchatra. I noticed you said "yet",  so it is in the roadmap?

[2017-08-03 17:58] riknoll opened #2651 "Tutorial authoring needs better documentation"
Pretty slim right now: https://makecode.com/writing-docs/tutorials

We need to document all of the changes that have been made and the "magic" things like how we populate the toolbox

[2017-08-03 17:59] tballmsft opened #2652 "error message in blocks comes and goes"
create this type-incorrect program in TypeScript, then go to blocks
[code]
Note that the error triangle comes and goes.

[2017-08-03 18:46] jaustin opened #2653 "simulator and micro:bit have different behaviour for button press event when holding button"
Hi all,

On the real micro:bit, press-->hold-->release of a button does not register as a 'press' however on the simulator it appears that it does:

https://makecode.microbit.org/_eKuYe6YbzR47

This program behaves differently on the micro:bit to in the simulator when you press and *hold* the A button. It works fine just clicking the button.

The DAL has two kinds of event, long and short click, a

[2017-08-03 20:35] finneyj commented on #2653
Nope - we'll be generating all the events (the simple events mode is really to supress the generation of more advanced events (click etc) which we're using MultiButton A+B etc.

If the cause for this is the LONG_CLICK (and well could be - good thinking @jaustin), then also subscribing to that event might be the easiest way forward... Alternatively, LONG_CLICK is a very rarely used feature that we

[2017-08-03 20:51] #2600 closed

[2017-08-03 22:20] riknoll commented on #2652
This is fixed, it just haven't been released yet. You can see it in the Adafruit and Micro:bit beta sites.

[2017-08-03 22:20] #2652 closed

[2017-08-03 22:22] riknoll commented on #2637
This is fixed in master but needs to be cherry-picked to V0

[2017-08-03 22:37] riknoll commented on #2632
Very interesting bug! I'm pretty sure what's happening is that our compiler is optimizing away the function declaration because the function never gets called. After it is optimized away, it never passes through the compiler's emitter. The decompiler relies on the metadata generated by our emitter, so it crashes because the metadata is missing. This only affects call expressions, so this will deco

[2017-08-03 22:45] pelikhan commented on #2632
This is an edge case, we should not throw tree shacking that easily.... :)

[2017-08-03 22:48] riknoll commented on #2632
I meant just for `main.ts`. Otherwise it's pretty easy to hit this bug; any function call within a function declaration that never gets called will fail to decompile.

[2017-08-03 22:57] riknoll commented on #2634
No, I don't think it is. Static Typescript (the subset of Typescript that we support) does not allow computed property accesses. Right @tballmsft? We should definitely throw an error on that declaration.

[2017-08-04 06:59] WendyFeng01 commented on #2517
Edge & IE will pop up as follows, and after clicking "Allow once", it still can't navigate to a new tab.
![untitled](https://user-images.githubusercontent.com/23497626/28957608-27f10e1a-7925-11e7-9264-a53683fa207a.png)

[2017-08-04 09:09] HelenFoster commented on #2653
#2445

Seems like the simulator only checks mouse-up.

[2017-08-04 10:36] finneyj commented on #2653
Thanks @HelenFoster

Looks like the binding to the hardware is looking for a CLICK event though:
https://github.com/Microsoft/pxt-microbit/blob/39071b56269232d0aaab69adc7c449360535a293/libs/core/input.cpp

You could consider binding to the UP even there also (MICROBIT_BUTTON_EVT_UP) ?

Joe

[2017-08-04 10:38] finneyj commented on #2653
...or expose a richer set of button events into MakeCode. ;-)

[2017-08-04 12:03] HelenFoster commented on #2653
I added DOWN and UP to the Control blocks in https://github.com/Microsoft/pxt-microbit/pull/468 . Didn't think it was such a good idea to add LONG_CLICK and HOLD, as that drop-down menu is getting too long now.

As you say, `onButtonPressed` is bound to CLICK. There are good reasons it should have been DOWN, but it can't be changed at this stage.

[2017-08-04 17:12] veler commented on #2597
@microsoftsam Need investigation, maybe linked to YouTube and can't fix it.

[2017-08-04 17:15] veler commented on #2595
This is part of the YouTube embed feature and we cannot make any change to it.

[2017-08-04 17:27] veler commented on #2524
For the Browse button, it's a native component of Windows and is out of our control.

[2017-08-04 17:38] bennytheshap commented on #662
@pelikhan We are in a workshop with teachers and they *really* want this feature. Can you please prioritize fixing this? It would be so helpful for science and math teachers. Thank you!

[2017-08-04 17:42] veler commented on #2625
We decided to make it table and accessible.

[2017-08-04 17:49] bhuangSFE commented on #662
Yes. This is a really important feature for educators and classroom use!

[2017-08-04 18:27] veler commented on #2539
This issue has already been fixed by the past. Please try to reproduce it again and be sure to be on [https://makecode.microbit.org/acc](https://makecode.microbit.org/acc), not [https://makecode.microbit.org/](https://makecode.microbit.org/).

[2017-08-04 18:34] abchatra commented on #662
Chrome extension is not a supported scenario from us today.

I am interested to hear use cases. @bennytheshap @bhuangSFE Can you elaborate your scenario?
What do you do with chrome extension which can't be done with the web browser? Also what platform do you use (windows10\windows7\iOs\android\Linux\Mac)?

[2017-08-04 19:26] pelikhan commented on #662
Chrome extension gives access to serial.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Abhijith Chatra <notifications@github.com>
Sent: Friday, August 4, 2017 11:34:31 AM
To: Microsoft/pxt
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt] Chrome Extension is broken due to change to pxt.microbit.org from codethemicrobit (#662)

Chrome extension is not a

[2017-08-05 00:05] bhuangSFE commented on #662
@abchatra  -- There are several scenarios that come to mind. Here are a few:

* Debugging and feedback. We want to be able to quickly see data being gathered or not gathered on the micro:bit. Having a serial read-out within MakeCode is very helpful. Currently, we can use serial and then open a terminal (Serial Monitor in Arduino) to do this.
* Graphing and visualization. Math & Science teachers wa

[2017-08-05 00:08] bennytheshap commented on #662
@pelikhan it used to but hasn't worked for me in almost a year. Happy to do a screen share with you to demo/test.

[2017-08-05 01:39] abchatra commented on #662
@bhuangSFE what platform you need it (OS)?

[2017-08-05 11:42] carlosperate opened #2661 "Some blocks help breaks in Firefox"
I'm not quite sure if this happens only with specific blocks, or if there are any other factors. On Firefox (tested v54 on Windows 10), the bluetooth advertise UID help doesn't work, and it breaks the help sidebar for all other blocks as well:

![makecode gif](https://user-images.githubusercontent.com/4189262/28995220-534d1ffc-79db-11e7-9346-08086d0a938c.gif)

[2017-08-05 12:12] jpiay commented on #2408
Hi,
When I submitted this feature request, my suggested solution was to allow two "clickable" areas: one would work as a button and the other one would work as a switch.
Thanks.

[2017-08-06 11:09] HelenFoster commented on #2408
How about keyboard controls for the simulator?

I have games where you might need to press e.g. A and then B within a very short time, which is a similar problem.

[2017-08-06 14:04] HelenFoster opened #2662 "Advanced worksheet creation"
The current projects system on makecode.microbit.org just shows the whole program at each step ("modify your code so it looks like this"). This breaks down for larger programs. Even for an adult, it's going to become hard to see how we got from A to B.

A great worksheet makes it really clear what has changed at each step. So a great worksheet system would provide an elegant way to highlight the c

[2017-08-06 14:07] HelenFoster commented on #2662
So far, I've been editing screenshots in an image editor, which is not ideal!

Thoughts so far regarding the appearance:

When a worksheet zooms in on the area to be changed, it seems a lot of children have difficulty understanding when they need to add blocks to what they made already. I've often seen them build a second copy of the code segment. (This isn't just with the micro:bit - I've seen it

[2017-08-06 14:27] bennytheshap commented on #662
@abchatra we have teachers on Windows, MacOS, and ChromeOS

[2017-08-07 05:48] #2643 closed

[2017-08-07 06:00] microsoftsam commented on #2342
This particular issue with the pin blocks has been fixed.
@pelikhan mind looking it why the parameter validation didn't catch this issue in the first place?

[2017-08-07 06:00] #2342 closed

[2017-08-07 09:00] microbit-matt commented on #2342
Hi @microsoftsam,

It looks like 3/4 of the cases listed in the original screenshot have been fixed. I can still see one block in the pin library with differences between English and Dutch. I've attached a screenshot below:

<img width="1440" alt="screenshot 2017-08-07 09 54 22" src="https://user-images.githubusercontent.com/28565144/29019596-e7c8b020-7b56-11e7-9c53-f53e9e9ec705.png">

Would it be

[2017-08-07 14:26] pelikhan commented on #2342
@microbit-matt could you fix the translation in crowdin? This particular issue is that %variables should not be translated. We have added better detection for erroneous strings but they are not on deployed yet.

[2017-08-07 20:19] #2553 closed

[2017-08-07 20:59] microsoftsam commented on #2537
Fixed

[2017-08-07 20:59] microsoftsam commented on #2598
Fixed on makecode.com

[2017-08-07 20:59] microsoftsam commented on #2628
Fixed on makecode.com

[2017-08-07 23:55] ganicke commented on #2651
Updated in https://github.com/Microsoft/pxt/pull/2665.

[2017-08-07 23:55] #2651 closed

[2017-08-08 09:43] jaustin opened #2672 "MICROBIT_BUTTON_EVT_DOWN doesn't register on simulator"
The following program:
https://makecode.microbit.org/_UisY5uc5eXgq (load in beta) works fine on the micro:bit but does NOT work properly on the simulator

Here's the simulator behaviour
![button events simulator evt_down](https://user-images.githubusercontent.com/147113/29066172-5519204a-7c26-11e7-97c8-dff4e47b00db.gif)

On the micro:bit the small box shows when the button is held down.

[2017-08-08 09:45] jaustin commented on #2672
See also https://github.com/Microsoft/pxt/issues/2653 and https://github.com/Microsoft/pxt-microbit/pull/468

[2017-08-08 10:46] jaustin opened #2673 "MakeCode and DAL don't agree about offset of images and clearing 'undefined' areas"
See also https://github.com/lancaster-university/microbit-dal/issues/307

In the DAL, when printing an image with an offset, such that the contents of some area of the screen are not defined, the DAL uses the *previous* contents of the display for that areas.

In the simulator, images appear to be 'zero padded' and when an image is shown with an offset the display appears to be cleared for undefin

[2017-08-08 11:33] microbit-carlos opened #2674 "Emulator infinite loop in fibre is non-blocking"
When there is an infinite loop in a micro:bit fibre it blocks execution of other fibres/events, however this does not happen in the emulator, so there is a discrepancy between what the user sees on the emulator vs the device.

**Example program:**
https://makecode.microbit.org/_FsfTuH8DWXLM
![microbit-screenshot](https://user-images.githubusercontent.com/29712657/29069998-1d29cf9a-7c35-11e7-9ad3-c

[2017-08-08 11:42] jaustin opened #2675 "Tutorial mode: Hint blocks are orange not the colour they really are"
(This is feedback from a teacher)

In the tutorials mode, the suggestion from the 'hint' bar has blocks in orange
![image](https://user-images.githubusercontent.com/147113/29070342-dbcba288-7c36-11e7-8c08-352901b45f3c.png)

But we use block colour commonly to help people find them. Is there a reason the blocks in 'hint' don't look right?

[2017-08-08 14:35] #2641 closed

[2017-08-08 15:53] microbit-matt commented on #2342
@pelikhan I'm not a member of the project - if you can add me I can look at fixing it. I'm `microbit-matt` on CrowdIn.

[2017-08-08 17:56] abchatra commented on #2675
These strings come from the documentation. There is no blockly loaded render to get the right color. Do agree that we can do something better here.

[2017-08-08 18:46] pelikhan commented on #2342
Please open a translator request on https://crowdin.com/project/kindscript/ and I’ll take it from there.

From: Matt Smith [mailto:notifications@github.com]
Sent: Tuesday, August 8, 2017 8:54 AM
To: Microsoft/pxt <pxt@noreply.github.com>
Cc: Peli de Halleux <jhalleux@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/pxt] Pin blocks differ by language (#2342)

@pelikhan<h

[2017-08-09 02:05] yanlxu opened #2677 "The items in "My Stuff" of "Projects" don't include item "Import old programs" in Chrome & FireFox"
Repro steps:
• Navigate to https://makecode.microbit.org/ on Chrome & FireFox
• Click "Projects"
• Check the items in "My Stuff"

Expected result:
The items should include item "Import old programs" just like Safari
Actual result:
The items don't include item "Import old programs" in Chrome & FireFox

Safari:
<img width="1076" alt="safari" src="https://user-images.githubusercontent.com/11880996/29

[2017-08-09 02:31] Mofell opened #2678 "Javascript failed to convert to block with no error message"
Repro Steps:
•	Navigate to https://makecode.microbit.org/beta
•	Copy below code to {}JavaScript
let Y = 0
let X = 0
function plus() {
    X = 8
    Y = 1
    basic.showNumber(X + Y)
}
plus()
•	Switch to Blocks to see simulator, it shows correct result
•	Switch to {}JavaScript, Add “return X+Y” after basic.showNumber…
•	Switch to Blocks
Expect Result: Javascript changes to block or there is error m

[2017-08-09 03:36] yanlxu opened #2679 "The name of file in "Downloads" is not same with the name you named and the program could not be imported successfully"
Repro steps:
• Navigate to https://makecode.microbit.org/ on Safari
• Drag some blocks to form a program
• Input one name in the "input box" to save the program
• Check the name which you named for the program in the file of "Downloads"
• Click the "Import File..." in "Projects" to import the program which you saved

Expected result:
 The name of file in "Downloads" is same with the name which you

[2017-08-09 05:25] microsoftsam commented on #2679
What version of Safari are you using?
Prior to Safari 10.1, Safari didn't support the download attribute, and so we were unable to indicate to the browser the name it should use for the file downloaded. http://caniuse.com/#feat=download

[2017-08-09 05:31] microsoftsam commented on #1421
Safari v10.1 now supports the download attribute.

[2017-08-09 07:05] microsoftsam commented on #2677
This is by design, import old programs is only needed for Safari.

[2017-08-09 07:05] #2677 closed

[2017-08-09 07:07] yanlxu commented on #2679
@microsoftsam , The version of Safari is 10.1.2(11603.3.8)

[2017-08-09 17:20] pelikhan commented on #2342
I’ve fixed the issues, it may take a day to make it into the live web site.

From: Peli de Halleux
Sent: Tuesday, August 8, 2017 11:46 AM
To: 'Microsoft/pxt' <reply@reply.github.com>; Microsoft/pxt <pxt@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [Microsoft/pxt] Pin blocks differ by language (#2342)

Please open a translator request on https://crowdin.com/project/kind

[2017-08-09 17:26] pelikhan commented on #2674
It's the maybeYield issue again. Maybe our device "while" implementation should have a maybeYield as well to prevent this kind of busy loop issues.

[2017-08-09 17:31] microbit-matt commented on #2342
Thanks for the fix @pelikhan 😄  I've just requested to join the project on CrowdIn anyway so that I can update the translations in the event that a user reports the same issue in future.

[2017-08-09 18:30] abchatra commented on #2678
This is as expected. There is no support for the return statements in the blocks (No equivalent block). You would see grey blocks in that case.

[2017-08-09 18:30] #2678 closed

[2017-08-09 21:13] #1421 closed

[2017-08-09 21:13] #2679 closed

[2017-08-10 06:09] microsoftsam commented on #2594
Fixed in Makecode.com

[2017-08-10 06:09] microsoftsam commented on #2567
Fixed in makecode.com

[2017-08-10 11:04] jaustin commented on #2673
@abchatra what info do you need on this one?

[2017-08-10 11:04] jaustin commented on #2672
Also see also https://github.com/Microsoft/pxt/issues/2405 - seems like there's some simulator button handling work that might be grouped together?

[2017-08-10 11:51] jaustin opened #2689 "Screenshot shadows are inconsistent based on canvas location/size"
microbit.org-ticket: 2417

When using right click-->Download Screenshot the last pixels of the rightmost block are cropped off the downloaded image. Perhaps the calculation of the canvas/image size doesn't take into account the shadow that appears to be added in the image but isn't present in the browser?

For example, look at the ends of the orange block and purple block here:

![image](https://u

[2017-08-10 13:36] abchatra commented on #2673
Wherther to fix in dal or pxt

[2017-08-10 14:22] finneyj commented on #2673
@jaustin @abchatra

Thanks guys. I think i'd go with the dal implementation, as we built this behaviour in by design. The idea being that people can create sprite overlays and such like - which would be impossible if the screen autocleared (but the programmer could easily explicitly call clear() if that's the behaviour they wanted).

[2017-08-10 14:47] abchatra commented on #2567
@microsoftsam if fixed add the fixed label

[2017-08-10 14:52] microsoftsam commented on #2567
Will do. Thanks!

[2017-08-10 16:39] microsoftsam commented on #2646
Fixed in makecode.com

[2017-08-10 16:52] veler commented on #2610
This is part of Blocky, a third-part component.

[2017-08-10 16:52] veler commented on #2586
This is part of Blocky, a third-part component.

[2017-08-10 16:53] veler commented on #2621
This is part of Blocky, a third-part component.

[2017-08-10 16:53] veler commented on #2584
This is part of Blocky, a third-part component.

[2017-08-10 16:54] veler commented on #2585
This is part of Blocky, a third-part component.

[2017-08-10 16:55] veler commented on #2583
This is part of Blocky, a third-part component.

[2017-08-10 16:56] veler commented on #2587
This is part of Blocky, a third-part component.

[2017-08-10 16:57] veler commented on #2593
This is part of Blocky, a third-part component.

[2017-08-10 16:57] veler commented on #2596
This is part of Blocky, a third-part component.

[2017-08-10 16:57] veler commented on #2602
This is part of Blocky, a third-part component.

[2017-08-10 16:58] veler commented on #2627
This is part of Blocky, a third-part component.

[2017-08-10 16:58] veler commented on #2607
This is part of Blocky, a third-part component.

[2017-08-10 16:59] veler commented on #2605
This is part of Blocky, a third-part component.

[2017-08-10 17:00] veler commented on #2606
This is part of Blocky, a third-part component.

[2017-08-10 17:00] veler commented on #2618
This is part of Blocky, a third-part component.

[2017-08-10 17:50] veler commented on #2543
Issue related to the Narrator itself, not the website, we cannot fix it.

[2017-08-10 19:11] ganicke commented on #536
Property ref pages are now linked up. The topics themselves may need a review later for accuracy.

Re: https://github.com/Microsoft/pxt-microbit/pull/504.

[2017-08-10 19:11] #536 closed

[2017-08-10 19:28] ganicke commented on #2188
I can't find the particular example you cited in the current docs. What's the title or page url you're referring to?

[2017-08-10 19:59] abchatra commented on #536
Thanks @ganicke

[2017-08-10 20:49] #2637 closed

[2017-08-10 20:55] ganicke commented on #1800
Addressed in https://github.com/Microsoft/pxt-microbit/pull/505.

[2017-08-10 20:55] #1800 closed

[2017-08-10 20:55] #2675 closed

[2017-08-10 21:36] microsoftsam commented on #2582
Fixed in /beta

[2017-08-10 21:36] #2582 closed

[2017-08-10 21:41] microsoftsam commented on #2000
Matching blockly's toolbox behaviour, we don't close the flyout when you tap the background of the flyout. For big flyouts on small screens, you can still close the flyout by tapping the category again. (Just like in Blockly).

[2017-08-10 22:35] ganicke commented on #1708
Help for 'number' needs correct help path set in built-in block definitions. Fixed in https://github.com/Microsoft/pxt/pull/2695.

[2017-08-10 22:35] #1708 closed

[2017-08-10 22:43] ganicke commented on #1364
String (aka **text**) docs are coming soon...

Microsoft/pxt#2508
Microsoft/pxt#2657
Microsoft/pxt#2658

[2017-08-10 22:43] #1364 closed

[2017-08-11 00:35] microsoftsam commented on #2689
Fixed in /beta

[2017-08-11 00:35] #2689 closed

[2017-08-11 00:36] microsoftsam commented on #2222
Fixed in /beta

[2017-08-11 00:36] #2222 closed

[2017-08-11 00:36] microsoftsam commented on #1526
Fixed in /beta

[2017-08-11 00:36] #1526 closed

[2017-08-11 00:39] ganicke commented on #1766
Reference SUMMARY entries updated for current APIs.

See: https://github.com/Microsoft/pxt-microbit/pull/507.

[2017-08-11 00:39] #1766 closed

[2017-08-11 00:57] ganicke commented on #1568
??? Are we talking about the _/faq_ page? Where are the 'Q's collected? Are we maintain this page?

The JS info was moved in https://github.com/Microsoft/pxt-microbit/pull/368.

[2017-08-11 00:57] #1568 closed

[2017-08-11 02:33] microsoftsam opened #2697 "Touch not working on monaco toolbox flyout"
The monaco toolbox flyout scroll doesn't work on touch devices (eg: Ipad).

[2017-08-11 02:34] #2697 closed

[2017-08-11 18:42] abchatra opened #2700 "Led light shrinks when led brightness block is used in Firefox"
Set the brightness low value. Take look at the simulator. Leds appear to be shrunk.
![image](https://user-images.githubusercontent.com/6107272/29227257-11d52278-7e8a-11e7-90da-0b9d61e85f37.png)

[2017-08-11 20:51] microsoftsam commented on #2439
Fixed in /beta

[2017-08-11 20:51] #2439 closed

[2017-08-11 20:51] microsoftsam commented on #1742
Fixed in /beta

[2017-08-11 20:51] #1742 closed

[2017-08-11 23:40] pelikhan opened #2703 "Custom editor extensibility"
Custom editors are GitHub page, associated to a package, loaded in an IFrame that communicates with the editor with a well-known iframe message protocol.

branch: https://github.com/Microsoft/pxt/tree/packageextension

- [x] custom editors are installed in an IFrame and uses the extension protocol to pair with the editor (see TS definition) (**Richard**)
- [x] custom editors are GitHub pages and f

[2017-08-14 06:16] matsujirushi opened #2707 "How to create original block with multi-lang"
How to create original block with multi-lang block name?
(Do I have to pull request a core-strings.json and regist crowdin?)

Ref.
[Defining blocks](https://makecode.com/defining-blocks)
[Translate](https://makecode.com/translate)

[2017-08-14 16:46] abchatra commented on #2499
closed, filed by us.

[2017-08-14 16:46] #2499 closed

[2017-08-14 16:48] veler commented on #2597
This issue is linked to Youtube embed links. Out of our control.

[2017-08-14 16:55] veler commented on #2631
External issue with Narrator and react interacting together. Narrator issue, can't fix.

[2017-08-15 02:43] Helen09 opened #2713 "The pull-down bar can't be dragged sometimes"
**Repro Steps:**
•   Navigate to https://makecode.microbit.org/beta
•   Zoom out the window then drag the pull-down bar on content pane

**Expect Result:**
The pull-down bar should be dragged smoothly
**Actual Result:**
The pull-down bar can't be dragged sometimes
![aug-15-2017 10-25-40](https://user-images.githubusercontent.com/23466737/29299980-0fb7a8da-81a5-11e7-9984-aa8e95db12ae.gif)

[2017-08-15 06:06] microsoftsam opened #2714 "micro:bit showNumber of two negative numbers overflows"
[code]

yields an overflow in the simulator. rather than '6'.

[2017-08-15 06:10] microsoftsam opened #2715 "micro:bit showString autocomplete with no quotes"
Typing basic.showString and autocompleting yields:
[code]
without the quotes..

@guillaumejenkins @riknoll  I think this might have something to do with your latest parsing "eg" parsing changes.

[2017-08-15 06:18] microsoftsam opened #2716 "Regression in adding certain packages"
Bug in adding the sonar package on the micro:bit yields the following error:

[code]

Seems related to the docs inline block changes.

[2017-08-15 06:23] microsoftsam commented on #2716
Looks like packages with no colors break

[2017-08-15 07:08] microsoftsam opened #2718 "blockly.css not loaded in /docs"
/doccdn/blockly.css in head.html not being replaced by the doccdn url.
Instead we're getting a 404 error for:
https://makecode.com/not-found/HEAD/doccdn/blockly.css

at makecode.microbit.org/docs

[2017-08-15 07:16] microsoftsam commented on #2718
@guillaumejenkins @mmoskal any idea what could be going on here?
I'm referring to doccdn in the same way as semantic.css

[code]

[2017-08-15 07:28] Helen09 opened #2719 "Error message shows when adding package "bitbot" and "mi:node""
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Click Add Package->add package "neopixel"
• Type "a" in the search box and then add package "bitbot"
• Type "a" in the search box again and add package "mi:node"

**Expect Result:**
**issue 1:**
After adding package "bitbot", error message should be more specific
**issue 2:**
Package "mi:node" is unrelated with package "neopixel"

[2017-08-15 07:31] Mofell opened #2720 "Error message changed after switching between Blocks and JavaScript"
Repro Steps:
• Navigate to https://makecode.microbit.org/beta
• Drag blocks as below, see the error messages’s location
![blocks](https://user-images.githubusercontent.com/23447632/29306143-a4000bbc-81ce-11e7-9caa-0dc35157d60b.PNG)
•Then switch to JavaScript->switch to Blocks, error messages changed as below
![edge](https://user-images.githubusercontent.com/23447632/29306167-c6f1958c-81ce-11e7-940

[2017-08-15 07:38] Helen09 opened #2721 "Leds on block "create big image" will be off on Firefox on Mac"
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta on Firefox on Mac
• Drag block "create big image" and put it with block "set item to 0"
• Click on block "create big image"

**Expect Result:**
Click on block "create big image" and the LEDs should be on
**Actual Result:**
Sometimes clicking the next led and the previous led will be off
![aug-15-2017 15-16-35](https://user-images.gi

[2017-08-15 08:54] Helen09 opened #2722 ""Neopixel" can't be removed successfully except clicking "Remove bluetooth""
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Add package "neopixel"
• Add package "bitbot"
• Add package "bluetooth"
• A pop-up box shows "Remove package(s) and add bluetooth" and then click "Remove neopixel"

**Expect Result:**
"Neopixel" should be removed successfully
**Actual Result:**
"Neopixel" can't be removed successfully except clicking "Remove bluetooth"
![aug-15-20

[2017-08-15 08:59] Helen09 commented on #2721
It also repro on the below block on Firefox 55.0.1 on Mac
![aug-15-2017 16-55-40](https://user-images.githubusercontent.com/23466737/29309102-e2470d1a-81da-11e7-998b-4b2fa5b8facf.gif)

[2017-08-15 09:11] Helen09 commented on #2603
Repro on Chrome 60.0.3112.101

[2017-08-15 11:09] rharbird commented on #2638
I'm supporting this enhancement. We've had problems with this too.

Rae

[2017-08-15 15:10] abchatra commented on #2722
@guillaumejenkins can you take a quick peek?

[2017-08-15 15:52] microsoftsam commented on #2719
The issue here is that you already have the pxt-neopixel package loaded. and these packages set a dependency on a specific tag of pxt-neopixel:
[code]
with a version mismatch between the latest and the one dependency it asks for.

I'm not sure if there's a bug here on our side?
@pelikhan do we support dependency the #latest version tag. Should that be the recommended use for authoring dependency i

[2017-08-15 16:02] microsoftsam opened #2723 "Blockly toolbox collapse subcategories exception"
Exception when adding a new package and a toolbox flyout with a subcategory is open.

Repro steps:
1. Open the Math category and make sure you see the "More" subcategory show up.
2. From the top menu go to Settings -> Add Package. (and not from the Advanced menu).

The following exception occurs:
[code]

Exception freezes the editor

[2017-08-15 16:13] microsoftsam commented on #2713
Can't repro. What OS / Browser is this on?

[2017-08-15 18:08] guillaumejenkins commented on #2718
Maybe I'm wrong but we may need a full micro:bit release for doc changes to be propagated correctly...

[2017-08-15 18:12] guillaumejenkins commented on #2718
Nevermind, I see the latest microbit live website is using a pxt release that was created after your head.html change

[2017-08-15 18:40] mmoskal commented on #2718
@microsoftsam the `/doccdn/` paths are resolved first in context of the target repo (ie `pxt-microbit/doccdn/foo`), and if not found in `pxt-deployment-config` repo. The problem with it is of course that it's not versioned, but I guess it's OK to check the `blockly.css` in there for now?

[2017-08-15 18:44] microsoftsam commented on #2718
So should we update the files in pxt-deployment-config? Is that a manual step?

[2017-08-15 18:53] mmoskal commented on #2718
Yes and yes.

[2017-08-15 18:56] microsoftsam commented on #2718
Cool. updating. Thanks @mmoskal

[2017-08-15 19:02] #2715 closed

[2017-08-15 22:20] #2716 closed

[2017-08-15 22:23] guillaumejenkins commented on #2719
With the linked PR, the new behavior is that you'll be prompted to remove the existing Neopixel (because there's a version conflict)

[2017-08-15 22:30] #2422 closed

[2017-08-15 22:30] #2421 closed

[2017-08-15 22:30] #2392 closed

[2017-08-15 22:30] #2209 closed

[2017-08-15 22:30] #2208 closed

[2017-08-15 22:30] #2207 closed

[2017-08-15 22:32] #2360 closed

[2017-08-15 23:06] #2722 closed

[2017-08-15 23:06] guillaumejenkins commented on #2722
Fixed in v0

[2017-08-15 23:06] #2719 closed

[2017-08-16 02:01] Helen09 commented on #2713
It repros on every browser and it needs to zoom out the browser firstly.

[2017-08-16 16:28] microsoftsam opened #2735 "Sidebar scroll on IOS scrolls entire page"
When the sidebar is open, scrolling scrolls the entire page and not just the sidebar view.

![img_1307](https://user-images.githubusercontent.com/16690124/29374139-4182e36e-8265-11e7-8f95-87ee9215dd58.PNG)

[2017-08-16 22:19] #2714 closed

[2017-08-17 03:26] pelikhan commented on #2707
@matsujirushi is this to add your own blocks via packages or to localize a "builtin" block that ships out of the box?

[2017-08-17 03:55] sgk commented on #2707
@pelikhan He wants to learn a method to provide international strings for his own custom blocks via packages.

[2017-08-17 04:52] matsujirushi commented on #2707
@pelikhan @sgk Yes. I want to add international strings for my custom block.

[2017-08-17 17:42] microsoftsam commented on #2577
Could you please check if this still repros? @veler

[2017-08-17 18:40] microsoftsam commented on #2718
Fixed.

[2017-08-17 18:40] #2718 closed

[2017-08-17 21:18] cait1inhennessy opened #2742 "Versioned upgrades"
- [ ] Versioned upgrades
- [ ] Based on script target version, select and apply upgrades
- [ ] Handle missing target version scenario
- [ ] Logging and analytics

[2017-08-17 22:38] pelikhan commented on #2707
Ok, I'll beef up the docs. Meanwhile, you'll need to add localization files to the package itself just like in
https://github.com/Microsoft/pxt-microbit/tree/master/libs/bluetooth/_locales

You need to update pxt.json to include the .json loc file and include the localized json files. Docs coming.

[2017-08-17 23:26] abchatra commented on #2742
@caitlin-hennessy I don't understand this issue. Can you add more information? What is the scenario?

[2017-08-18 01:58] microsoftsam commented on #1801
This has been fixed.

[2017-08-18 01:58] #1801 closed

[2017-08-18 02:17] microsoftsam commented on #1632
We no longer change the color when highlighting, but instead outline the block.

[2017-08-18 02:17] #1632 closed

[2017-08-18 02:18] microsoftsam commented on #2162
Fixed this.

[2017-08-18 02:18] #2162 closed

[2017-08-18 02:18] microsoftsam commented on #2161
+1

[2017-08-18 06:06] v-mesala commented on #2646
Bug is verified and fixed .Hence closed the bug.

[2017-08-18 06:08] v-mesala commented on #2608
Bug is fixed and verified .Hence Closed the bug.

[2017-08-18 06:08] v-mesala commented on #2598
Bug is verified and fixed .hence closed the bug.

[2017-08-18 06:10] v-mesala commented on #2540
Bug is verified and fixed.Hence closed the bug.

[2017-08-18 06:13] v-mesala commented on #2649
Bug is verified on URL : https://makecode.com/ and bug still exists .Hence Reactivated the bug and added the Active tag.

[2017-08-18 06:15] v-mesala commented on #2648
Bug is verified on URL : https://makecode.com/ and bug still exists as Still alt is not defined for the image showing near Documentation.Hence Reactivated the bug and added the Active tag.

[2017-08-18 06:17] v-mesala commented on #2628
Bug is verified on URL : https://makecode.com/ and bug still exists as Narrator is still not announcing the name or any information about the Section region landmarks.Hence Reactivated the bug and added the Active tag.

[2017-08-18 06:18] v-mesala commented on #2626
Bug is verified on URL : https://makecode.com/ and bug still exists as still Screen Reader reads it as Text on scan mode and blank in Items mode.Hence Reactivated the bug and added the Active tag.

[2017-08-18 06:19] v-mesala commented on #2625
Bug is verified on URL : https://makecode.com/ bug still exists .Hence reactivated the bug and added the Active tag.

[2017-08-18 06:20] v-mesala commented on #2623
Bug is verified on URL : https://makecode.com/ bug still exists .Hence reactivated the bug and added the Active tag.

[2017-08-18 06:21] v-mesala commented on #2594
Bug is verified on URL : https://makecode.com/ bug still exists .Hence reactivated the bug and added the Active tag.

[2017-08-18 06:23] v-mesala commented on #2594
Correcting the comment:
Bug is verified on URL : https://makecode.com/ bug still exists .Hence Closed the bug and added the Closed tag.

[2017-08-18 06:33] abchatra commented on #2594
@v-mesala  Comments are confusing. Are you closing the bug or reactivating?

[2017-08-18 06:36] v-mesala commented on #2589
Bug is verified on URL :https://makecode.microbit.org/acc and bug is fixed.Hence closed the bug and added the tag Closed.

[2017-08-18 06:38] #2540 closed

[2017-08-18 06:38] #2589 closed

[2017-08-18 06:38] #2594 closed

[2017-08-18 06:38] #2598 closed

[2017-08-18 06:38] #2608 closed

[2017-08-18 06:38] #2646 closed

[2017-08-18 06:44] v-mesala commented on #2545
Bug is verified on URL : https://makecode.microbit.org/acc bug is fixed .hence closed the bug and added the tag closed.

[2017-08-18 06:51] v-mesala commented on #2548
Bug is verified on URL : https://makecode.microbit.org/acc and bug is fixed .Hence closed the bug by added closed tag.

[2017-08-18 06:58] LuHugo opened #2746 "How to integrated into my expressjs project"
I had a blockly project and just want to use pxt editor feature (like code decompile to blockly). but don't know how to do this?

[2017-08-18 07:03] v-mesala commented on #2519
Bug is verified on URL : https://makecode.microbit.org/acc/ and bug still exists as Luminosity ratio is still less than 4.5:1 for the Time showing under Today Section.Hence recativated the bug.

[2017-08-18 07:06] LuHugo commented on #2746
How to split the blockly editor from pxt ？

[2017-08-18 07:06] v-mesala commented on #2520
Bug is verified on URL :https://makecode.microbit.org/acc and bug is fixed .Hence closed the bug and added the Closed tag.

[2017-08-18 07:09] v-mesala commented on #2537
Bug is verified on URL :https://makecode.com/ and bug is fixed .Hence clsoed the bug and added the closed tag.

[2017-08-18 07:17] v-mesala commented on #2522
Bug is verified on URL :https://makecode.microbit.org/acc bug is fixed hence closed the bug and added the closed tag.

[2017-08-18 07:19] v-mesala commented on #2588
Bug is verified on URL :https://makecode.microbit.org/acc bug is fixed hence closed the bug and added the closed tag.

[2017-08-18 07:41] v-mesala commented on #2565
Bug is verified on URL :https://makecode.microbit.org/acc and bug is fixed hence closed the bug and added the closed tag.

[2017-08-18 07:41] #2565 closed

[2017-08-18 07:52] #2588 closed

[2017-08-18 07:52] #2548 closed

[2017-08-18 07:52] #2520 closed

[2017-08-18 07:53] #2522 closed

[2017-08-18 07:53] #2537 closed

[2017-08-18 07:53] #2545 closed

[2017-08-18 09:15] v-mesala commented on #2568
Verified on URL:  https://makecode.microbit.org/acc and issue is fixed. Hence closing the bug.

[2017-08-18 09:23] v-mesala commented on #2567
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug.

[2017-08-18 09:24] #2567 closed

[2017-08-18 09:25] #2568 closed

[2017-08-18 09:27] v-mesala commented on #2538
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 09:27] #2538 closed

[2017-08-18 09:29] v-mesala commented on #2539
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug.

[2017-08-18 09:29] #2539 closed

[2017-08-18 09:32] v-mesala commented on #2527
Verified and URL: https://makecode.microbit.org/acc and issue is fixed. Hence closing the bug

[2017-08-18 09:32] #2527 closed

[2017-08-18 09:36] v-mesala commented on #2544
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 09:36] #2544 closed

[2017-08-18 09:44] v-mesala commented on #2524
Verified on URL:  https://makecode.microbit.org/acc and issue is not fixed. Hence reactivating the bug.

[2017-08-18 09:44] v-mesala commented on #2524
added active tag

[2017-08-18 09:48] v-mesala commented on #2525
Verified on URL: https:/makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 09:48] #2525 closed

[2017-08-18 09:51] v-mesala commented on #2526
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug.

[2017-08-18 09:51] #2526 closed

[2017-08-18 09:54] v-mesala commented on #2529
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 09:54] #2529 closed

[2017-08-18 09:58] v-mesala commented on #2530
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 09:58] #2530 closed

[2017-08-18 10:03] v-mesala commented on #2534
Verified on URL: and issue is not fixed. Keyboard dotted line focus indicator is not visible on side documentation button. Hence reactivating the bug.

[2017-08-18 10:08] v-mesala commented on #2542
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-08-18 10:08] #2542 closed

[2017-08-18 10:23] v-mesala commented on #2629
Verified on URL: https://makecode.microbit.org/acc and issue is not fixed. Hence reactivating the bug

[2017-08-18 10:59] LuHugo opened #2747 "Not found project files"
I specify the hostname(IP Address) in built/server.js file, then create a project on my target, but in my target projects folder not found any file, where are my project files in ?

[2017-08-18 13:42] HelenFoster commented on #2700
This was deliberate #2439

[2017-08-18 13:48] HelenFoster commented on #2630
The word "Projects" is used for worksheets in a lot of places, so the single one that goes to "My Stuff" would be much simpler to change. Could just change that one to say "My Stuff". It's then not obvious that we can get to the worksheets that way, but since there are two other ways to get to them from the editor page, that might not matter.

[2017-08-18 14:39] HelenFoster opened #2748 "Game engine interferes with its own animations"
Related to https://github.com/Microsoft/pxt-microbit/pull/476 . The animations are showing with low brightness. (Previously, using addScore during a game just flashed the screen briefly, and I didn't realise that wasn't right at the time.)

[code]

[2017-08-18 14:53] HelenFoster commented on #2462
Now my second example gives sadface 042 on the real hardware. But my first example and riknoll's example don't.

[2017-08-18 14:59] HelenFoster commented on #2672
I wrote about this in https://github.com/Microsoft/pxt/issues/2445#issuecomment-315615731

[2017-08-18 15:05] pelikhan opened #2749 "Image literal parser does not handle CRLF new lines"
Easily happens when users copy/paste code between editors.

[2017-08-18 15:33] abchatra commented on #2700
This is not deliberate. You can see the lit up leds doesn't fit into the led positions. Look at the edges.

[2017-08-18 15:35] pelikhan commented on #2746
I'm afraid it is not designed to be split currently.

[2017-08-18 15:37] pelikhan commented on #2742
Changing the photon setPhotonColor semantics is a breaking change, so we need version specific patches to handle it.

[2017-08-18 15:38] abchatra commented on #2742
This editor is still in beta. It is ok to make breaking changes.

[2017-08-18 15:44] microsoftsam commented on #2627
@veler Although this is inside the Blockly editor, we add this searchbox in blocklyloader.ts in pxt. We should be able to fix this easily.

[2017-08-18 15:46] microsoftsam commented on #2622
The website the feedback links to is out of SCOPE for testing. @v-amik please verify and close.

[2017-08-18 15:48] abchatra commented on #2622
@microsoftsam we need to go through exception process before closing. @Jaqster is on tracking the same.

[2017-08-18 15:50] abchatra commented on #2746
PXT is not designed for this scenario. Feel free to fork and extra what you need. Also let us know how easy\hard it was.

[2017-08-18 15:50] #2746 closed

[2017-08-18 15:53] abchatra commented on #2289
Please remove it, if not used.

[2017-08-18 15:53] #2289 closed

[2017-08-18 16:02] #2735 closed

[2017-08-18 16:07] HelenFoster commented on #2700
Sorry, I see now. It happens for me in Firefox, but Chrome looks OK.

[2017-08-18 16:07] #2120 closed

[2017-08-18 16:08] #1803 closed

[2017-08-18 16:08] microsoftsam commented on #1803
@Jaqster please verify you no longer repro this.

[2017-08-18 16:08] #2013 closed

[2017-08-18 16:08] #2101 closed

[2017-08-18 16:09] veler commented on #2524
For the Browse button, it's a native component of Windows and is out of our control. Marked as external and need additional information to be sure that @v-mesala is talking about the Browse button.

[2017-08-18 16:11] microsoftsam commented on #1035
Closing this as won't fix.

[2017-08-18 16:11] #1035 closed

[2017-08-18 16:12] microsoftsam commented on #1245
As of yet, Blockly doesn't support Multi-select.
Although, you are able to copy a block to your clipboard and paste it in another editor.

[2017-08-18 16:20] microsoftsam commented on #1500
@pelikhan what are our oembed endpoints?

<img width="990" alt="screen shot 2017-08-18 at 9 19 30 am" src="https://user-images.githubusercontent.com/16690124/29467736-64a5eab6-83f6-11e7-8e6e-7cc51b65f954.png">

[2017-08-18 16:21] pelikhan commented on #2749
[code]

[2017-08-18 16:24] pelikhan commented on #2749
All the code snippets using ``showLeds`` in the microbit CS Intro course are subject to this issue.

[2017-08-18 16:26] pelikhan commented on #2749
Actually, it is broken because of ``00A0`` NON-BREAKING SPACES characters

[2017-08-18 16:35] pelikhan commented on #2742
We need to ensure that none of the resources posted on learn.adafruit.com get broken

[2017-08-18 16:35] LuHugo commented on #2747
1.In my instance of PXT to specify the  serveOptions.hostname to 192.168.1.107 (default is localhost) in built/server.js
2.then my target(pxt-sample) link to PXT instance and run serve.
3. visiting my target in the browser and create new project will be success.
4. then open pxt-sample/projects folder and not found any file.

I  want to change the hostname,but looks like something wrong.
can chang

[2017-08-18 16:38] veler commented on #2627
Alright, I didn't know that. I assigned the issue to me and will investigate it.

[2017-08-18 16:52] veler commented on #2519
I realized that this issue is part of an opened PR in PXT-microbit ([https://github.com/Microsoft/pxt-microbit/pull/466](https://github.com/Microsoft/pxt-microbit/pull/466)) and need to be discussed as it's part of the Micro:bit color theme.

[2017-08-18 17:02] veler commented on #2534
The dotted line focus indicator is proper to Edge. Let's discuss in our next UI meeting whether a background color change is not enough and if a outline is necessary.

[2017-08-18 17:12] pelikhan commented on #2747
" pxt serve"command has options to specify the host name.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: LuHugo <notifications@github.com>
Sent: Friday, August 18, 2017 9:35:55 AM
To: Microsoft/pxt
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt] Not found project files (#2747)

1.In my instance of PXT to specify the serveOptions.hostname to 192.168.1.1

[2017-08-18 17:27] mebrauns opened #2753 "digital state read to test for If or While loop"
This issue has been tested using the target Micro:bit in Make Code

[https://makecode.microbit.org/](https://makecode.microbit.org/)

Currently, in Blocks, a user cannot add a digital state read to the test for if or while loop. You can find a picture of the attempt to place Digital State Read for If. Here is example code in JavaScript below:

[code]

Using Blocks, it appears a user can add a digi

[2017-08-18 17:55] LuHugo commented on #2747
"pxt serve -h" is working, but in  pxt-sample/projects folder still not found any project file. No main.ts, No main.blocks……
Project file is auto save in other dir or Localstorage?

[2017-08-18 17:56] riknoll commented on #2753
I think we should remove the check on if/else and while blocks or at least let numbers and strings be dragged in. My only concern is that it might be weird with Scratch blocks, where different types are different shapes.

[2017-08-18 17:57] pelikhan commented on #2747
Saving to the file system only works on the localhost IP. If you change the host, it uses local storage. Note that “pxt serve” is designed for a local / single dev box scenario, not a web server.

From: LuHugo [mailto:notifications@github.com]
Sent: Friday, August 18, 2017 10:56 AM
To: Microsoft/pxt <pxt@noreply.github.com>
Cc: Peli de Halleux <jhalleux@microsoft.com>; Comment <comment@noreply.git

[2017-08-18 18:51] RichardA1 commented on #2753
@Riknoll, so will the _digital read pin_ return to a string and not an int or bool? If so, that should probably be what changes. The only possible outcomes from a digital read will be 1 or 0 and that should resolve as True or False in the test.

If the currant test looks for an int, making _digital read pin_ return as an int should fix it unless there is a reason _digital read pin_ needs to return

[2017-08-18 18:54] riknoll commented on #2753
@Richard1 I'm not suggesting that we change the digital read API, it will still return a number. I'm just suggesting that we change the if/else and while blocks so that you can drag numbers and strings into them without them bouncing out (the current behavior only let's you drag in variables and booleans)

[2017-08-18 19:03] RichardA1 commented on #2753
Ah, so if we first assigned the digital read pin to a variable, then added that variable to the test, would that work?

Is there a reason why digital read pin it not returning a boolean?

[2017-08-18 21:41] pelikhan commented on #2753
Mostly historical and backward compat reasons.

[2017-08-19 02:55] microsoftsam commented on #1500
Filed a request. Waiting to hear back from the embedly team.

[2017-08-19 03:03] microsoftsam commented on #1375
This has been fixed.

[2017-08-19 03:03] #1375 closed

[2017-08-19 03:04] microsoftsam commented on #1435
This is no longer a repro. Possibly fixed by monaco-editor 8.0

[2017-08-19 03:04] #1435 closed

[2017-08-19 03:05] microsoftsam commented on #1545
There is no fix for this as this is an IOS restriction. Closing this until we have a workaround.

[2017-08-19 03:05] #1545 closed

[2017-08-19 03:06] microsoftsam commented on #1944
This has been fixed.

[2017-08-19 03:06] #1944 closed

[2017-08-19 03:08] microsoftsam commented on #1653
Fixed in latest editor.

[2017-08-19 03:08] #1653 closed

[2017-08-19 03:08] microsoftsam commented on #2259
@caitlin-hennessy Is this something you're looking into?

[2017-08-19 03:11] microsoftsam commented on #2051
Fixed in /beta

[2017-08-19 03:11] #2051 closed

[2017-08-19 03:12] microsoftsam commented on #1820
Fixed by @guillaumejenkins

[2017-08-19 03:12] #1820 closed

[2017-08-19 03:14] microsoftsam commented on #1116
This has been fixed.

[2017-08-19 03:14] #1116 closed

[2017-08-19 03:16] microsoftsam commented on #2577
Fixed. please re-open if you are still repro'ing

[2017-08-19 03:16] #2577 closed

[2017-08-19 03:57] microsoftsam commented on #2547
@veler what needs discussion here? It seems to me that all that needs to be done here is the headers on the Hardware documentation page need to be adjusted.

[2017-08-19 04:51] matsujirushi commented on #2707
@pelikhan

I tried adding Japanese, But did not work.
1. Add _locales/ja/bluetooth-strings.json file.
[code]

2. Update pxt.json.
3. Git push. ([here](https://github.com/matsujirushi/bluetooth))

Result:
![image](https://user-images.githubusercontent.com/8079404/29483628-4f521348-84e5-11e7-8292-a845ae7d24c1.png)

[2017-08-19 06:04] LuHugo commented on #2747
Thank you for your answer!

[2017-08-19 06:04] #2747 closed

[2017-08-19 06:44] microsoftsam opened #2756 "Flooding the server with requests when gallery page is not found"
When one of the gallery pages is not found "Projects", "Examples" in docs. We flood the server with requests, and don't stop causing a large number of failures on the backend.

<img width="736" alt="screen shot 2017-08-18 at 11 42 17 pm" src="https://user-images.githubusercontent.com/16690124/29484231-189f0b38-846f-11e7-997e-ad2ccc45718d.png">

Marking as P2 as workaround is to resolve the docs is

[2017-08-19 12:36] nielsswinkels commented on #2061
![pxt doc bug](https://user-images.githubusercontent.com/5718354/29486661-ce41d3ea-84eb-11e7-8c2c-4a4f0ffcce9a.gif)

[2017-08-19 12:37] nielsswinkels commented on #2061
The problem is that it works for blocks but not for javascript

[2017-08-19 12:44] nielsswinkels commented on #1557
Should this be fixed in the beta now? I can still reproduce it:

![pxt slider bug](https://user-images.githubusercontent.com/5718354/29486704-e6626358-84ec-11e7-8408-7f71aa236815.gif)

[2017-08-19 14:32] pelikhan commented on #2707
Are you trying to completely clone the Bluetooth library?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: matsujirushi <notifications@github.com>
Sent: Friday, August 18, 2017 9:51:24 PM
To: Microsoft/pxt
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt] How to create original block with multi-lang (#2707)

@pelikhan<https://na01.safelinks.protection.outl

[2017-08-19 15:10] pelikhan commented on #2756
What's the frequency of requests here?

[2017-08-19 15:15] pelikhan commented on #2756
``pxt checkdocs`` should validate galleries and fail if needed

[2017-08-19 15:28] matsujirushi commented on #2707
I copied from [bluetooth](https://github.com/Microsoft/pxt-microbit/tree/master/libs/bluetooth) folder.
Please look [here](https://github.com/matsujirushi/bluetooth).

Add package from https://github.com/matsujirushi/bluetooth on MakeCode.

![image](https://user-images.githubusercontent.com/8079404/29488060-63f19900-853e-11e7-899c-bf6e3be18fc4.png)

[2017-08-19 16:44] microsoftsam commented on #1557
@caitlin-hennessy maybe this isnt just a user select issue?

[2017-08-19 18:46] rharbird commented on #2175
Please consider reopening this.

In our microbit summer schools we use trig functions. To give a specific example: students are asked to transform the motion of an 180 degree servo motor to a mimic a Central Pattern Generator. The servo motors are used in a caterpillar robot. A CPG is basically a sine wave.  My colleague Stephen Hailes wrote the function below. It would be good if this and other t

[2017-08-20 15:32] pelikhan opened #2760 "Broken links in array reference"
There is a number of broken references to the array docs. Also I've noticed that some docs (insertat) is missing the ``-`` between each word.
[code]

[2017-08-21 05:20] pelikhan opened #2761 "Math.PI is missing"

[2017-08-21 14:44] veler commented on #2547
Oops, my bad ! It has nothing to do with "needs discussion" I just need to merge it.

[2017-08-21 15:38] abchatra commented on #2742
I see old API being used in https://learn.adafruit.com/makecode/blinky?view=all
I agree with Peli we need to be careful not to break them.

[2017-08-21 15:40] pelikhan commented on #2742
I can patch that one once the fix is in circulation.

[2017-08-21 16:40] abchatra commented on #2761
Looks like we never had this right?

[2017-08-21 16:54] pelikhan commented on #2761
Nope allways been missing.

From: Abhijith Chatra [mailto:notifications@github.com]
Sent: Monday, August 21, 2017 9:40 AM
To: Microsoft/pxt <pxt@noreply.github.com>
Cc: Peli de Halleux <jhalleux@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/pxt] Math.PI is missing (#2761)

Looks like we never had this right?

—
You are receiving this because you authored the thread.
Re

[2017-08-21 17:20] #2749 closed

[2017-08-21 20:25] microsoftsam opened #2764 "No OK button in Blockly alert dialog"
If you try and create a variable with the same name as one that exists, you will see the Blockly alert dialog. It currently doesn't have an OK button and the only way to clear it is to tap on the dimmer.

Fix: need to add an OK button to close the alert.

![screen shot 2017-08-21 at 1 24 31 pm](https://user-images.githubusercontent.com/16690124/29536829-3b6a17a0-8674-11e7-9c61-60b8425bb51f.png)

[2017-08-21 22:38] microsoftsam commented on #2723
This issue only repros in v0. Another way to repro this issue is to have the Blockly flyout open and go to Javascript and back to Blocks.

[2017-08-21 23:43] dragonx opened #2766 "Monaco editor is broken on Android again."
Seems like the broken keyboard experience is back.  I'm testing on a Nexus 5x running 7.1.2

1. Using the browser, load http://pxt.makewonder.com.s3-website-us-west-amazonaws.com/controller.html
2. Switch to Javascript mode
3. Click on line 3 and start typing.  I typed "tes" (I was trying to type test), and on screen I got "tetestestestestes"

If I hit backspace, the line of text triples in length

[2017-08-21 23:43] #2766 closed

[2017-08-21 23:45] pelikhan commented on #2756
We do check for broken gallery pages.

[2017-08-21 23:45] #2756 closed

[2017-08-22 00:38] microsoftsam commented on #1557
We weren't able to repro this anymore on Firefox for Mac or Windows. @nielsswinkels please check again with the latest /beta. Make sure you're running Makecode version 0.12.125. (Check in Settings -> About).
If this still repro's for you, please share what version of Firefox you are running. Thanks!

[2017-08-22 01:14] microsoftsam commented on #2764
Fixed.

[2017-08-22 01:14] #2764 closed

[2017-08-22 02:48] Helen09 commented on #2713
Closed as not repro

[2017-08-22 02:49] #2713 closed

[2017-08-22 05:57] Helen09 opened #2771 "The purple squares are so large in project "Hot and Cold""
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Open Projects -> Projrcts -> Hot or Cold

**Expect Result:**
The purple squares should be more small
**Actual Result:**
 The purple squares are so large
![1](https://user-images.githubusercontent.com/23466737/29550459-6ce7da84-8740-11e7-8a04-cc62970bf6a2.gif)

[2017-08-22 06:23] Helen09 opened #2772 "Pull-down bar disappears after clicking on projects page"
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Click Getting Started -> Until the seventh step -> click Finish -> More Tutorials
• Click on the Projects choice page as below .gif

**Expect Result:**
 The pull-down bar should not disappear
**Actual Result:**
 The pull-down bar disappears and when enter this page again form Getting Started, the pull-down bar still disappears
![2

[2017-08-22 06:53] Helen09 opened #2773 "Error message is not clear enough"
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Drag "show number" block, "length of array" block and "create array with" block
• Put them together and change "234" to "AAA" on block "create array with"

**Expect Result:**
The error message should be more clear
**Actual Result:**
The error message is not clear enough and shows as "cannot find name NAN"
![aug-22-2017 14-45-11](h

[2017-08-22 07:00] Helen09 commented on #2721
It also repro on show less block on Firefox 55.0.1 on Mac
![aug-22-2017 14-57-34](https://user-images.githubusercontent.com/23466737/29552581-88a1b3d0-874a-11e7-947e-6fe83cda47ef.gif)

[2017-08-22 09:23] Helen09 opened #2774 "There lacks of IndexOutOfBounds Exception on array"
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta
• Drag blocks as below picture
• Change 0 to 5 on block "get value at" and observe simulator

**Expect Result:**
 There should have error message shows IndexOutOfBounds Exception
**Actual Result:**
 There didn't have any error message and simulator shows "0"
![capture](https://user-images.githubusercontent.com/23466737/29557967-4b56

[2017-08-22 14:29] microbit-pauline opened #2775 "Dowload Screen Shot - MakeCode - Block shows black LEDs"
Micro:bit support ticket 2513 - https://support.microbit.org/helpdesk/tickets/2513

**When I download a screenshot the leds in the block show leds are black instead of red.**

![black leds](https://user-images.githubusercontent.com/29146842/29570519-97f0f81a-874e-11e7-9422-8e3f22e3d539.png)

Is this something that can be corrected?

[2017-08-22 15:19] microsoftsam commented on #1500
Response from the embedly team:

[code]

@pelikhan do you think these changes would interfere with OneNote oembed support?

[2017-08-22 16:15] ChrisDorna commented on #2775
Problem seems to be solved!

[2017-08-22 16:45] ganicke commented on #2760
This is due to a mismatch between master and v0. I'll bring the current docs to v0. The originals were stubs put in with array support.

[2017-08-22 16:57] microsoftsam commented on #2775
Yep, fixed in latest.

[2017-08-22 16:57] #2775 closed

[2017-08-22 17:01] microsoftsam commented on #2771
span.docs.inlinebutton should have a padding 0.2rem 0.4rem.

[2017-08-22 18:34] abchatra commented on #2774
This is by design. We have a concept of default values, anything outside the range gives you back a default value. Zero in case of number array.
In principle this follows javascript and a conscious choice. Javascript always returns "undefined" for any out of bounds access. Errors\exceptions are usually not kid friendly

[2017-08-22 18:34] #2774 closed

[2017-08-22 23:12] veler commented on #2541
We cannot reproduce this issue. Please try to reproduce it again on https://makecode.microbit.org/acc . If you can still reproduce it, please provide us more information on how to reproduce it (the environment, the step by step from when the page is loaded (a video is fine)).

[2017-08-22 23:22] veler commented on #2536
Need to be investigated with @microsoftsam

[2017-08-22 23:31] veler commented on #2524
@abchatra , please forward this issue to the MSEdge team.

[2017-08-22 23:39] veler commented on #2597
Needs to be forwarded to YouTube.

[2017-08-22 23:39] veler commented on #2595
Needs to be forwarded to YouTube.

[2017-08-22 23:40] veler commented on #2622
Needs to be forwarded to [Survey Monkey](https://www.surveymonkey.com).

[2017-08-22 23:41] veler commented on #2563
Needs to be forwarded to [Survey Monkey](https://www.surveymonkey.com).

[2017-08-22 23:41] veler commented on #2551
Needs to be forwarded to [Survey Monkey](https://www.surveymonkey.com).

[2017-08-22 23:41] veler commented on #2549
Needs to be forwarded to [Survey Monkey](https://www.surveymonkey.com).

[2017-08-22 23:57] Jaqster commented on #2622
Submitted via their Accessibility Feedback Form: https://help.surveymonkey.com/articles/en_US/kb/508-Compliance

[2017-08-23 02:00] WendyFeng01 opened #2784 "There is no simulator example on Edge and IE"
**Repro Steps:**
• Navigate to https://makecode.microbit.org/beta on Edge & IE
• Click Projects->Projects, choose "Karel the LED"
###  _**Issue 1:**_
Scroll to the bottom in the right documentation and click triangular label
**Expect Result:**(Chrome & Firefox)
![chrome](https://user-images.githubusercontent.com/23497626/29594822-80562238-8768-11e7-8aaa-73478ec73e28.PNG)
**Actual Result:**(Edge &

[2017-08-23 02:35] yanlxu commented on #2521
close this issue as not repro on the latest build

[2017-08-23 02:35] #2521 closed

[2017-08-23 11:24] microbit-mark opened #2787 "Help resource for function is missing/broken"
microbit.org-ticket:2564

When right clicking on function block and selecting 'Help' you are taken to https://makecode.microbit.org/types/function/define which displays a page missing error

![pxt link](https://user-images.githubusercontent.com/31242877/29613352-86941d18-87fd-11e7-94de-9bdb1b27ee6e.gif)

[2017-08-23 14:44] microbit-carlos opened #2788 "SIgnal strength is always 0"
microbit.org-ticket: 1789

Using the `devices`/`signal strength` block always returns the same value. For a program like the one below, where an android phone is correctly paired and connected (the buttons do trigger the other actions), no matter how far away the phone is, the value displayed is always 0.

![microbit-screenshot](https://user-images.githubusercontent.com/29712657/29621840-c10c61e6-

[2017-08-23 15:51] veler opened #2789 "Blank link and white space in makecode's blog"
On the [blog](https://makecode.com/blog), there is a blank clickable link.

Also I think that the "Published by Microsoft" should stay at the bottom of the screen and the side bar must  be dark until the bottom of the page.

![capture](https://user-images.githubusercontent.com/3747805/29625259-11ff2abe-87e0-11e7-9b9c-30c00f885c6a.PNG)

[2017-08-23 16:20] abchatra commented on #2541
This bug is no repro, Amit please help to get the repro.

[2017-08-23 16:21] abchatra commented on #2562
Closing this by the discussion in the triage team.

[2017-08-23 16:21] #2562 closed

[2017-08-23 16:22] microsoftsam commented on #2789
Want to look into this @veler. I can't repro the clickable link, but I agree it should be black all the way. I'm okay with the published by Microsoft being at the bottom of the sidebar list (wherever that ends). There's already a Powered by Microsoft, and Microsoft at the bottom of the page anyway.

[2017-08-23 16:23] microsoftsam commented on #2604
@veler something you can look into? I can show you how to edit the makecode.com page if you know what the fix is here.

[2017-08-23 16:25] microsoftsam commented on #2788
@pelikhan any ideas?

[2017-08-23 16:27] microsoftsam commented on #362
Looks like the monaco editor team doesn't plan to expose the EditorZoom object, closing as won't fix.

[2017-08-23 16:27] #362 closed

[2017-08-23 16:28] pelikhan commented on #2788
``signal strength`` applies to the connected phone signal strength. It must be sent by the connected device.

[2017-08-23 16:28] #2788 closed

[2017-08-23 16:29] microsoftsam commented on #1699
I think the fix here is to only have the editor Icon go back to the editor (with a title "Go to editor"). The Documentation heading is for the sidebar / page.

[2017-08-23 16:29] microsoftsam commented on #1699
Fixing as part of https://github.com/Microsoft/pxt/pull/2770

[2017-08-23 16:29] #1699 closed

[2017-08-23 16:33] microsoftsam commented on #2369
Kids don't use the context menu. If you're a power user, you should be able to use Ctrl + C / Ctrl + V shortcuts. Closing until we find more evidence this is necessary.

[2017-08-23 16:33] #2369 closed

[2017-08-23 16:39] ganicke commented on #2787
Ah, this needs a pick from ``master`` into ``v0`` with https://github.com/Microsoft/pxt/pull/2614.

[2017-08-23 17:40] veler commented on #2789
Alright I will take a look

[2017-08-23 19:37] microbit-carlos commented on #2788
Thanks Peli, are there any known issues why the devices do not send the correct signal strength?

Also it might be nice to clarify in the documentation which signal it represents, as it can be easily mistaken by BT signal strength, I could prepare a very simple PR.

[2017-08-23 19:52] tballmsft opened #2792 "new subtyping check for virtual methods"
Static TypeScript doesn't correctly checking subtyping on virtual methods of subclasses.

[2017-08-23 19:55] tballmsft commented on #2792
This is not legal static typescript, but is accepted:
[code]

[2017-08-23 19:57] pelikhan commented on #2788
Which app are you using? You should ask the author of that app.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Carlos <notifications@github.com>
Sent: Wednesday, August 23, 2017 12:37:30 PM
To: Microsoft/pxt
Cc: Peli de Halleux; State change
Subject: Re: [Microsoft/pxt] SIgnal strength is always 0 (#2788)

Thanks Peli, are there any known issues why the devices

[2017-08-24 04:45] Jaqster commented on #2630
Thanks for the feedback Helen.  We're looking into this, but won't be able to make UI changes to micro:bit until next summer.

[2017-08-24 04:45] #2630 closed

[2017-08-24 09:51] v-mesala opened #2795 "[Keyboard Navigation-Project-Makecode Documentation]: Focus is moving to some hidden link showing on left panel on Project documentation page."
**User Experience:**
User who depends on Keyboard with screen reader may get misguided about the links and controls if focus moves to any hidden link on Project Page.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/projects
2. Navigate to left panel controls and verify that focus is navigating to hidden l

[2017-08-24 10:27] v-mesala opened #2796 "[Screen Reader-Documentation] Name Property is not defined for the 'Print ' button showing on Documentation page"
**User Experience:**
Users with Visual disabilities might not able to understand the controls if Name Property is not defined. Like in the scenario Name Property is not defined for the Print button.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/reference/basic/show-number
2-Navi

[2017-08-24 10:40] v-mesala opened #2797 "[Visual Requirement - Makecode-Documentation] Luminosity ratio is less than 4.5:1 for for the text 'Flashing heart' displayed on top left Bar"
**User Experience**
If the luminosity ratio is less than 4.5:1 for all the text content then it will be difficult for the visually impaired user to see what is present on the screen.

**Test  Environment**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool: Color contrast Analyzer

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/reference/basic/show-number
2-Launch Colo

[2017-08-24 10:57] v-mesala opened #2798 "[Keyboard Navigation-Makecode-Documentation]Various Buttons like Edit,Download, Run are not accessible using keyboard"
**User Experience:**
User who depends on Keyboard with Screen Reader may get restricted from accessing all the functionalities if that element is not accessible using keyboard.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/reference/basic/show-number
2-Navigate to all the elements under show number page

[2017-08-24 11:00] v-mesala opened #2799 "[Screen Reader-Project Documantation]: State is not defined for the links in the left pane which can Expand/Collapse."
**User Experience:**
User who depends on screen reader may get misguided about the links if state is not defined for the links which can Expand/Collapse.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen Reader : Narrator.

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/projects
2. Navigate to left panel controls and verify that state is defined f

[2017-08-24 11:02] jaustin commented on #2467
@abchatra just checking in on this one as it's also referenced in support tickets:
microbit.org-ticket: 2028

Now that Sam's done the nice fading LEDs and some other simulator updates, is this something that's in a better position to be fixed? I tested your short reproducer (that doesn't include the game library) on the acc branch this morning and it's still failing in the same way as you describe

[2017-08-24 11:20] v-mesala opened #2800 "[Screen Reader-Project-Makecode Documentation page]: Alt Attribute is not defined for the image showing near Documentation link on Project page."
**User Experience:**
Users who depends on Screen Reader will get confuse if Alt attribute is not defined for the interactive images, then information about the image will get missed from users.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.
Tool Used: IE11 Developer (F12)

**Repro Steps:-**
1- Navigate to https://makecode.microbit.org/projects
2- Navigate to the im

[2017-08-24 11:39] v-mesala opened #2801 "[Screen Reader - Documentation] Narrator focus is navigating to hidden element in scan mode and reading it as 'blank'"
**User Experience:**
If Narrator in scan mode is navigating to hidden element and reading as blank then user with visual disabilities may get misguided to understand the behavior of the controls

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge.

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/device/error-codes
2-Navigate to all element on error code

[2017-08-24 11:44] v-mesala opened #2802 "[Screen Reader-Project-Makecode Documentation] Screen Reader is not giving information about the category under which links are present like Games, Multiplayer Games."
**User Experience:**
User who depends on screen reader may get Confuse if the information about the category under which links are present like Games, Multiplayer Games is not given.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen Reader : Narrator

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/projects
2. Navigate to projects in the left pane

[2017-08-24 12:05] v-mesala opened #2803 "[Screen Reader - Makecode-Documentation] Narrator focus is navigating to hidden element in scan mode and reading it as 'image'"
**User Experience:**
If Narrator in scan mode is navigating to hidden element and reading as image then user with visual disabilities may get misguided to understand the behavior of the controls

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/device/error-codes
2-Navigate to footer section
3- launch na

[2017-08-24 12:07] v-mesala opened #2804 "[Screen Reader-Project-Makecode Documentation] Name Property and Control type is not defined for the 'Search Icon' showing near Search edit box."
**User Experience:**
Users with Visual disabilities might not able to understand the controls if Name Property and control type is not defined. Like in this scenario Name Property and control type is not defined for the Search icon.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.
Screen reader: Narrator

**Repro Steps**
1- Navigate to https://makecode.microbit.org/proj

[2017-08-24 12:51] v-mesala opened #2805 "[Keyboard Navigation-Project-Makecode-Documentation]Search icon is not accessible using keyboard showing near Search edit box."
**User Experience:**
User who depends on Keyboard with Screen Reader may get restricted from accessing all the functionalities if that element is not accessible using keyboard.

**Test Environment**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps**
1- Navigate to https://makecode.microbit.org/projects
2- Navigate to the Search editable box.
3- Verify that Search icon showing

[2017-08-24 12:58] v-mesala opened #2806 "[Screen Reader -Makecode-Documentation] Screen reader is not reading proper information of 'Led screen' in Scan mode"
**User Experience:**
Users who depends on Screen reader will get confuse if Narrator does not read proper information of led screen in Scan Mode

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.483)
Platform: Edge

**Repro Steps**
1-Navigate to url:-https://makecode.microbit.org/reference/basic/show-number
2-Navigate to all element on show number page
3- launch narrator change to scan mo

[2017-08-24 13:10] v-mesala opened #2807 "[Keyboard Navigation-Project -Makecode Documentation] Focus is not naviagating to first interactive element after selecting the any link in the left pane."
**User Experience:**
User who depends on Keyboard with screen reader may get misguided if the Focus is not navigating to first interactive element after selecting the any link in the left pane..

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/projects
2. Select any link in the left pane and verify the iss

[2017-08-24 13:38] v-mesala opened #2808 "[Screen Reader - Make Code - Documentation] Landmarks are not defined properly on the Documentation page."
**User Experience:**
User who depends on Keyboard with screen reader may not able to skip the content and navigate to the required section if landmarks are not defined properly.

**Test Environment:**
OS: RS2 Version 1703(OS Build 15063.2)
Platform: Edge.

**Repro Steps:-**
1. Navigate to https://makecode.microbit.org/projects
2. Navigate in landmarks mode of narrator(Caps + Up/Down arrow Keys) an

[2017-08-24 18:22] veler commented on #2795
Issue duplicated with [https://github.com/Microsoft/pxt/issues/2649](https://github.com/Microsoft/pxt/issues/2649)

[2017-08-24 18:28] veler commented on #2796
Issue duplicated with [https://github.com/Microsoft/pxt/issues/2623](https://github.com/Microsoft/pxt/issues/2623)

[2017-08-24 18:39] veler commented on #2798
This issue is duplicated with a closed one [https://github.com/Microsoft/pxt/issues/2529](https://github.com/Microsoft/pxt/issues/2529). I tried to reproduce it on my machine, and everything works fine as expected and described by the current issue.

[2017-08-24 18:39] veler commented on #2799
Issue fixed couple of weeks ago but still not deployed.

[2017-08-24 18:40] veler commented on #2800
Issue fixed but not deployed yet.

[2017-08-24 19:53] veler commented on #2804
This issue is duplicated [https://github.com/Microsoft/pxt/issues/2625](https://github.com/Microsoft/pxt/issues/2625). It has been fixed but is not deployed yet.

[2017-08-24 19:54] veler commented on #2805
This issue is duplicated [https://github.com/Microsoft/pxt/issues/2625](https://github.com/Microsoft/pxt/issues/2625). It has been fixed but is not deployed yet.

[2017-08-24 19:55] veler commented on #2806
This issue is part of Blockly which is a third part component.

[2017-08-24 19:58] veler commented on #2807
@microsoftsam , according to this issue, for me, that's why we have the hidden menu. What do you think about? Fixed or won't fix?

[2017-08-24 20:00] veler commented on #2808
Already fixed but not deployed yet.

[2017-08-24 20:11] veler commented on #2801
This is linked to a bad behavior from blocky and has already been pointed several times in some previous issues.

[2017-08-24 21:10] veler commented on #2803
Can't reproduce this issue. Doing those keyboard combination doesn't work. I'm on Windows 10 RS2.

[2017-08-25 10:56] v-mesala commented on #2803
We have verified the issue OS: RS2 Version 1703(OS Build 15063.483)Win 10, and the issue still repro in current environment, Launch narrator and please use Caps+ space key for scan mode, and navigate by up\down key. Please refer to the video to get more clear view about the issue.

[2017-08-25 11:08] v-mesala commented on #2541
Issue Verified, Now issue doesn't exists. Thus closing the bug.

[2017-08-25 11:08] #2541 closed

[2017-08-25 18:16] microsoftsam opened #2811 "Decompilation of array init keeps adding initializer"
Add this code to any project:
[code]

Decompile to blocks and back to text, make a change to the name of the array. and do the same.
We add an extra initializer every time you do this.

becomes:
[code]

[2017-08-25 20:29] abchatra opened #2812 "Update the documentation with new screen shots for the editor"
See the link https://makecode.com/js/editor

[2017-08-25 21:09] veler opened #2813 "[Accessibility] Wrong keyboard behavior on tab panel in Arabic"
When the operating system is in **Arabic**, and so that MakeCode is horizontally flipped, the keyboard navigation into the tab panels (in Project and Share dialog) is not correct.

## Expecting result
- Open Project.
- **Examples** is on the **Left**, **Projects** is on the **Middle**, **My Stuff** is on the **Right**.
- My Stuff has the focus.
- Press the Left key.
- The focus **must be given to

[2017-08-25 22:04] ganicke commented on #2760
Fixed #2770, #2776.

[2017-08-25 22:04] #2760 closed

[2017-08-25 22:06] ganicke commented on #2523
Added support for builtin docs in #2781.

[2017-08-25 22:06] #2523 closed

[2017-08-25 22:44] ganicke commented on #2787
Function docs added in #2814.

[2017-08-25 22:44] #2787 closed

[2017-08-26 00:17] microsoftsam opened #2819 "bad target identifier compiler bug"
"bad target identifier" error when using object destructuring and you rename the field being used.

Repro:
1. Add an onDataReceived block from the microbit editor
2. Click on the receivedNumber field and change it to use item instead

Error occurs.

According to @riknoll this is a compiler bug.

[2017-08-28 04:35] samelhusseini opened #2824 "App cache is deprecated, use service workers instead"
https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache

[2017-08-28 05:22] abchatra commented on #2819
Can you share the program? I don't understand _change it to use item_

[2017-08-28 05:27] microsoftsam commented on #2819
use the dropdown to change the variable being used from receivedNumber to item.

[2017-08-28 05:30] microsoftsam commented on #2819
Can't seem to repro anymore.

[2017-08-28 05:30] #2819 closed

[2017-08-28 09:24] v-mesala commented on #2623
Bug is verified on URL : https://makecode.com/ bug still exists .Hence reactivated the bug removed the fixed tag and added the Active tag.

[2017-08-28 09:39] v-mesala commented on #2625
Bug is verified on URL : https://makecode.com/ bug is fixed .Hence closed the bug and added the closed tag.

[2017-08-28 09:39] #2625 closed

[2017-08-28 09:45] v-mesala commented on #2649
Bug is verified on URL : https://makecode.com/ and bug still exists .Hence Reactivated the bug removed the tag Fixed and added the Active tag.

[2017-08-28 09:52] v-mesala commented on #2629
Verified on URL: https://makecode.microbit.org/acc and issue is fixed. Hence Closed  the bug and added the Closed tag.

[2017-08-28 09:52] #2629 closed

[2017-08-28 10:00] v-mesala commented on #2627
Bug is verified on URL :https://makecode.microbit.org/acc ans bug is fixed Hence closed the bug and added the Closed tag.

[2017-08-28 10:00] #2627 closed

[2017-08-28 15:02] abchatra commented on #2623
@veler reopened bug

[2017-08-28 16:36] veler commented on #2807
After discussion with @microsoftsam , we are agree that we already fixed this issue thanks to a hidden menu. But it is not deployed yet.

[2017-08-28 16:51] veler commented on #2649
The issue is fixed locally. It is not deployed yet on 8/28. It will be available to test soon.

[2017-08-28 16:52] veler commented on #2623
The issue is fixed but not deployed yet.

[2017-08-28 16:54] veler commented on #2550
@microsoftsam and @abchatra , what's the status on this issue? Should we approve the color I submitted here ? [https://github.com/Microsoft/pxt-microbit/pull/466](https://github.com/Microsoft/pxt-microbit/pull/466)

[2017-08-28 20:59] abchatra commented on #2550
@veler r Yes please.

[2017-08-28 21:00] microsoftsam commented on #2550
Already approved and merged, check latest.

[2017-08-28 22:35] #2813 closed

[2017-08-29 08:54] Emma-sunny opened #2833 "When added some elements into array, Block is converted to code after switching back to "Blocks"."
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Switch "_Blocks_" to "_JavaScript_"
- create a new project and input the below code into content panel:
   _let item1 = item.length
   let item = "Autumn"
   let item2: string[] = []
   item2 = ["Spring", "Summer", "Autumn", "Winter"]
   basic.forever(() => {
      basic.showString(item)
      basic.showNumber(item1)
      i

[2017-08-29 08:56] Emma-sunny commented on #2833
![aug-29-2017 16-31-57](https://user-images.githubusercontent.com/17866936/29812913-d84bb472-8cda-11e7-9eb7-3f158cd6510e.gif)

[2017-08-29 09:05] Emma-sunny opened #2834 "The content lacks of some space between the bottom border and content which show on the right of page"
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Click "_?_" and choose "_Blocks_"
- Click the link of "_on-start_" which in "_The on-start event runs first_"
- Scroll down to the bottom of the page

**Expected result:**
<img width="345" alt="screen shot 2017-08-29 at 2 16 48 pm" src="https://user-images.githubusercontent.com/17866936/29813190-e370f820-8cdb-11e7-8b74-bffbd

[2017-08-29 09:13] Emma-sunny opened #2835 "The contents are out of border after click the "play icon" that provided in "Hint""
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Click "_?_" and choose "_JavaScript_"
- Click "_Sequencing_" and scroll down to "_Hint_"
- Click "_play icon_" provided in Hint

**Expected result:**
All content should be within the given border.

**Actual result:**
<img width="345" alt="screen shot 2017-08-29 at 5 11 21 pm" src="https://user-images.githubusercontent.com/17

[2017-08-29 09:21] Emma-sunny opened #2836 "There are some inconsistent fonts."
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Click "_?_" and select "_Statements_"
- Scroll down to the "_Labelling statements_"

**Expected result:**
"Labelled statement" should be written as "**Labelled** statement"
<img width="324" alt="screen shot 2017-08-29 at 5 17 27 pm" src="https://user-images.githubusercontent.com/17866936/29813869-fb4324bc-8cdd-11e7-938c-a73f

[2017-08-29 10:03] Emma-sunny commented on #2834
The bug only exists in Safari

[2017-08-29 10:13] Emma-sunny commented on #2836
Compare with other statements, "Labelled" isn't keyword. It represent a kind of labeled although it is not used directly in code. So I thought that the "Labelled statement " should be written as "**Labelled** statement".

[2017-08-29 14:18] abchatra commented on #2835
I can repro on edge

[2017-08-29 14:59] microbit-rosslowe opened #2837 "'score' blocks can cause the BBC micro:bit hardware to freeze"
The 'game->score' blocks can cause the BBC micro:bit hardware to freeze sometimes. However, this doesn't occur if there is a 'pause' following the block - if there is a short delay (e.g. 100ms), the device still freezes, but a longer pause (e.g. 500ms) stops the device from freezing and allows the code to run as per usual.

Minimum example to replicate: https://makecode.microbit.org/_EPXFp6K4bJ3X

[2017-08-29 17:27] tballmsft opened #2838 "pop a banner with app deeplink"
If a PXT target has a Windows app, then when user navigates to target web site and is on Windows 10 device , pop a banner with a deep link to the app.

[2017-08-29 19:32] ganicke commented on #2836
'Labelled' is not the actual literal so that's why it wasn't styled the same as the others. I agree, it looks odd and presents a consistency problem. Fixed in #2827.

[2017-08-29 19:32] #2836 closed

[2017-08-30 17:29] microsoftsam opened #2843 "Rando example in pxt-microbit doesn't compile"
Docs issue.

[2017-08-30 17:54] microsoftsam commented on #2843
Math.random seems problematic in micro:bit.
Getting duplicate identifier errors and multiple assert failures:

[code]

[2017-08-30 20:17] ganicke commented on #2188
This example is no longer in the docs.

[2017-08-30 20:17] #2188 closed

[2017-08-30 21:43] ganicke commented on #2111
The page for `fromCharCode` is added in #2846.

[2017-08-30 21:43] #2111 closed

[2017-08-31 00:02] ganicke commented on #1920
Remaining 'known' codes are added to the error list - https://github.com/Microsoft/pxt-microbit/pull/525.

[2017-08-31 00:02] #1920 closed

[2017-08-31 00:11] ganicke commented on #1040
Documentation support for **Arrays** added in #2777, #2781, and #2841.

[2017-08-31 00:11] #1040 closed

[2017-08-31 13:58] microbit-mark opened #2848 "Press and hold buttons (A/B) fails in simulator when using servo"
When using the servo block, press and hold in the simulator results in the '~0' value being selected rather than the button being pressed. This also happens elsewhere in that part of the editor window.

![makecode](https://user-images.githubusercontent.com/31242877/29926738-35d22356-8e5c-11e7-9cee-4c7a2ede21b7.gif)

Tested in chrome on
Samsung Galaxy Tab S2  SM-T713  Android OS 7.0
Samsung Tab 4

[2017-08-31 19:21] ganicke commented on #1891
A coding activity is added to the **Watch** project: https://github.com/Microsoft/pxt-microbit/pull/526.

[2017-08-31 19:21] #1891 closed

[2017-08-31 20:32] ZanderBrown opened #2849 "Get brightness"
There is a function to set the brightness of an LED:
`led.plotBrightness(x, y, b)` / `plot [x] [y] brightness [b]`

However there isn't a function to retrieve that value:
`led.getBrightness(x, y)` / `get brightness [x] [y]`

[2017-09-01 06:13] matsujirushi commented on #2707
I can add Japanese strings. It's fine.
https://github.com/Seeed-Studio/pxt-grove

Thank you.

[2017-09-01 06:13] #2707 closed

[2017-09-01 15:47] #2833 closed

[2017-09-02 00:26] microsoftsam opened #2854 "Blockly compiler breaks when calling a function with a return statement"
The following breaks blockly compilation:

[code]

It's because the function has a return type and we don't currently support that. The above should be a gray block.

[2017-09-02 18:54] sheamusburns opened #2855 "ButtonEvent.DoubleClick and ButtonEvent.Hold issues on Adafruit."
`ButtonEvent.DoubleClick` works in sim, but not when downloaded to the Circuit Playground Express.
`ButtonEvent.Hold` does not work in sim, and only fires once after running on actual CPE. If you try to hold the button a second time, event does not fire.

I'm not sure if these bugs are supposed to go here or on the pxt-adafruit repository. I've put them in both for now.

[2017-09-03 10:34] microbit-carlos opened #2856 "Slow-mo executes basic.forever as soon as it's declared"
microbit.org-ticket: 2622

When the slow-mo option is used, the code inside the anonymous function argument for things like `basic.forever()` is executed as soon as it is declared. So in cases where we have variables initialised in the "on start" block, they will be undefined at that point and cause a `Program Error: r.isRef is not a function` error.

The program below is a simple example illustra

[2017-09-05 07:16] Emma-sunny opened #2858 "It doesn't support "i--" in "for" loop."
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Create a new project and switch to "_{}JavaScript_"
- Copy the following code to content panel:

[code]

- Switch back to "Blocks"

**Additional information:**
Only repro on Safari [10.1.2(11603.3.8)]

**Expected result:**
<img width="430" alt="screen shot 2017-09-05 at 3 05 22 pm" src="https://user-images.githubusercontent.

[2017-09-05 07:52] Emma-sunny opened #2859 "The conditional expression of "for" loop is changed automatically."
**Repro step:**
- Navigate to [https://makecode.microbit.org/beta](url)
- Switch to "_{}JavaScript_"
- Create list and use "_for_" loop to traverse the list,such like this:
_let list=[2,3,4,5,6];
for(let i=0;i<list.length;i++){
basic.showNumber(list[i]);
}_

- Switch back to "Blocks" and then switch to "_{}JavaScript_" again

**Expected result:**
The code should not be changed when switch "_{}Java

[2017-09-05 07:55] yanlxu opened #2860 "The simulator couldn't display when open the example project "Radio Dashboard""
Repro steps:
• Navigate to https://makecode.microbit.org/beta
• Click "Projects" in the Menu bar
• Click the "Examples"
• Select the project "Radio Dashboard" to open

Expected result:
There are no alerts in the content panel and the simulator could display
Actual result:
There are alerts in the content panel and the simulator couldn't display

![projects-radio-dashboard](https://user-images.githu

[2017-09-05 08:16] yanlxu opened #2861 "There is no alert to tip that the InputBox of "save" is blank when save the project"
Repro steps:
• Navigate to https://makecode.microbit.org/beta
• Drag block "show string" and put it under block "on start"
• Input name "hello" for this project
• Click "save" to save this project
• Delete the name in the InputBox of "save"
• Click "save" to save this project

Expected result:
There is a alert to tip that the InputBox of "save" is blank when save the project
Actual result:
There i

[2017-09-05 08:18] Emma-sunny opened #2862 "Different response for putting block "show image item at offset 0" on "forever""
**Repro step:**

- Navigate to [https://makecode.microbit.org/beta](url)

- Drag block "_show image item at offset 0_" to "forever"

- Then delete block "_show image item at offset 0_" from "_forever_" and then repeat the step2 again

**Expected result:**
As long as using the block incorrect, it should display the error message. No matter how many times you use it.

**Actual result:**
_The using r

[2017-09-05 09:39] DavidWhaleMEF opened #2863 "Docs out of date with editor - acceleration strength"
The help for acceleration does not include the 'strength' option.

![screen shot 2017-09-05 at 10 39 06](https://user-images.githubusercontent.com/25079586/30055165-773e78f8-9226-11e7-96cb-e8190aa0b658.png)

https://makecode.microbit.org/reference/input/acceleration

Please could you explain in the docs update, in simple terms, what the 'strength' option actually measures, so that it can be used b

[2017-09-05 09:46] DavidWhaleMEF commented on #2863
Looks like this returns 1023 when not moving. Also if I tilt the micro:bit and hold it steady, it returns a higher number - so it's not measuring movement, it's probably measuring the sum of the squares of the x y and z readings? sqrt(x*x + y*y + z*z)?? Can you make sure that you document exactly what it does in the docs update, so that people can understand how they might use it to build things w

[2017-09-05 15:20] abchatra commented on #2848
@microsoftsam can you take a peek?

[2017-09-05 15:38] pelikhan opened #2864 "Slider improvement"
- [x] make it bigger! It's currently tiny and really hard to hit on mobile
- [x] clicking on the field should place the focus in the text editor. Currently requires 2 clicks.

[2017-09-05 15:45] pelikhan commented on #2863
https://github.com/Microsoft/pxt-microbit/blob/master/libs/core/input.cpp#L246

[2017-09-05 16:00] microsoftsam commented on #2864
https://github.com/Microsoft/pxt-blockly/issues/19

[2017-09-05 16:03] microsoftsam commented on #1614
Fixed, we decided to show the slider on touch devices.

[2017-09-05 16:03] #1614 closed

[2017-09-05 20:55] veler commented on #2566
Fixed in the following PR : [https://github.com/Microsoft/pxt/pull/2845](https://github.com/Microsoft/pxt/pull/2845)

[2017-09-06 00:01] ganicke commented on #2863
Strength enum value added in https://github.com/Microsoft/pxt-microbit/pull/527.

[2017-09-06 00:01] #2863 closed

[2017-09-06 10:52] jaustin commented on #2672
This is still at large in the acc branch - is there any chance to resolve it over the next few weeks?

[2017-09-06 15:44] #2811 closed

[2017-09-06 16:06] abchatra commented on #2843
fixed

[2017-09-06 16:06] #2843 closed

[2017-09-06 16:08] abchatra commented on #2855
Dupe https://github.com/Microsoft/pxt-adafruit/issues/311

[2017-09-06 16:08] #2855 closed

[2017-09-06 16:10] abchatra commented on #2856
@riknoll interesting bug. Looks like slow-mo is changing the execution order.

[2017-09-06 16:14] abchatra commented on #2859
This is how the decompiler works. for loop in blocks runs from 0 to limit including the limit. When you go back to blocks and code, you will see the code altered.  Ther is no 1-1 mapping between blocks and javascript.

[2017-09-06 16:14] #2859 closed

[2017-09-06 16:16] abchatra commented on #2862
I am not sure why we see the error at the first time

[2017-09-06 16:18] abchatra commented on #2862
It is an error, But the sim is in an error state and doesn't restart

[2017-09-06 16:38] abchatra commented on #2860
Another decompiler issue. @riknoll
The program is correct in typescript, but we automatically decompile to blocks (which is incorrect but an authoring issue). Decompiler results in an incorrect program.

[2017-09-06 16:40] abchatra commented on #2860
I think it is array decompiler issue which converts to an empty array which loses type inference. Convert it to grey blocks

[2017-09-06 17:07] pelikhan opened #2867 "Squiggle start line is off by 1"
Try any error in TS and you'll see that squiggles start 1 line early. Very confusing.
**
![image](https://user-images.githubusercontent.com/4175913/30124758-130ab20a-92eb-11e7-8e9a-ed3d5f8822d1.png)
**

[2017-09-06 18:56] tballmsft commented on #2792
fixed

[2017-09-06 18:56] #2792 closed

[2017-09-06 21:01] riknoll commented on #2856
Totally possible. We might need to revisit how we instrument the code. Right now it just inserts pauses at breakpoints

[2017-09-06 22:50] riknoll commented on #2860
Pretty sure the issue is the radio packet messing everything up (look at the grey block, it's invalid code). I fixed this in master a while back, I'll cherry pick it over

[2017-09-07 16:19] nielsswinkels opened #2869 "microbit editor does not load on android firefox"
Trying to load makecode.microbit.org using firefox app on android only loads partially. Ill try to add a screenshot.

[2017-09-07 16:20] nielsswinkels commented on #2869
![tmp_18045-screenshot_20170907-18193746945390](https://user-images.githubusercontent.com/5718354/30173786-2c78e572-93f9-11e7-86a6-15ac26b24d8d.png)

[2017-09-07 16:49] nielsswinkels opened #2870 "microbit javascript, bacspace doesn't work"
On android using chrome, i can't remove text when coding microbit in javascript mode. Pressing bacspace does not do anything. (And yes i have my cursor active in the text)

[2017-09-07 18:35] abchatra commented on #2870
@nielsswinkels Does this happen in /beta as well? We have bunch of fixes in beta for Monaco editor and I am wondering if this is fixed.

[2017-09-07 20:34] nielsswinkels commented on #2870
Beta has the same problem

[2017-09-07 23:08] ganicke commented on #805
Doc pages added or help enabled for missing topics in:

* https://github.com/Microsoft/pxt-microbit/pull/530
* https://github.com/Microsoft/pxt/pull/2781
* https://github.com/Microsoft/pxt/pull/2846
* https://github.com/Microsoft/pxt/pull/2872

[2017-09-07 23:08] #805 closed

[2017-09-08 09:23] kamar535 commented on #2107
Just tried to put start melody inside forever which results in no sound is played at all and the simulation immediately stops.

[2017-09-08 15:26] nielsswinkels opened #2874 "same name on variable and function is not allowed"
to reproduce: create a function with name "test" and create a variable with name "test".
Result: it will complain that it cannot run the code. "Cannot redeclare block-scoped variable "test" "

I'm not sure if this is a bug or expected behavior?

[2017-09-08 15:33] nielsswinkels commented on #2142
Is this supposed to be fixed? I'm still having this issue, even in beta.

[2017-09-08 15:42] riknoll commented on #2142
Needs to be moved over to V0. I'll take care of it.

[2017-09-08 15:43] pelikhan opened #2876 "Blocks categories broken after roundtrip to javascript"
- open new script https://makecode.microbit.org/beta
- switch to javascri[pt
- click on various categories
- switch back to blocks
- click on categories

![image](https://user-images.githubusercontent.com/4175913/30219717-d11c528a-9471-11e7-80e6-65b0126c8d89.png)

[2017-09-08 15:54] nielsswinkels opened #2879 "docs don't show example code blocks?"
![image](https://user-images.githubusercontent.com/5718354/30220165-ad21ec6c-94be-11e7-8cc7-7fe06793693d.png)

both firefox and chrome

[2017-09-08 15:59] pelikhan commented on #2879
We are working on a fix.

[2017-09-08 16:00] pelikhan commented on #2867
Completly destroys the JS editing experience IMO.

[2017-09-08 16:05] riknoll commented on #2867
I'll take a look today

[2017-09-08 16:42] riknoll commented on #2860
Fixed by https://github.com/Microsoft/pxt/pull/2878

[2017-09-08 16:47] #2860 closed

[2017-09-08 16:57] #2867 closed

[2017-09-08 17:54] microsoftsam commented on #2870
Android issues are very specific to the version of Chrome, Android version and Keyboard you are using. Any information regarding the above would be very helpful.

[2017-09-08 17:54] microsoftsam commented on #2870
Also, has this ever worked for you, ie: is this a regression?

[2017-09-08 17:56] microsoftsam commented on #2876
Dupe of #2723

[2017-09-08 18:18] riknoll commented on #2874
Yeah, we handle other reserved names so we should handle this as well.

[2017-09-08 19:14] pelikhan commented on #2879
Fixed. Thanks for reporting!!!

[2017-09-08 19:14] #2879 closed

[2017-09-08 22:05] microsoftsam opened #2890 "foo compiles back to Blocks"
The following code snippet decompiles back to Blocks when it shouldn't:

[code]

Higher pri as a bad code snippet can be converted back to Blocks

[2017-09-08 22:46] microsoftsam commented on #2149
Moving up to P1 as this is something we really need to fix to match (init and loop) semantics that our users may be used to.

[2017-09-08 23:47] ganicke commented on #1569
Section for 'null' and 'undefined' added to JS types page.

https://github.com/Microsoft/pxt/pull/2893

[2017-09-08 23:47] #1569 closed

[2017-09-09 09:50] nielsswinkels commented on #2870
I don't usually use android, and specially not javascript text mode, so I don't know if the problem existed before.

Now I updated to chrome 60.0.3112.116 and the problem is gone 👍 I'm using google's Gboard.

[2017-09-09 09:51] #2870 closed

[2017-09-09 17:54] mhldr opened #2894 "Microbit Simulator: text is undefined when digital write to pin > 2"
If I try a digital write to pin 8 (or any pin greater than 2) then I get a program error.
Firefox = Program Error: text is undefined
Chrome = Program Error: Cannot read property 'textContent' of undefined

The minimal javascript code for this is:
[code]
or in blocks
on start{
    digital write pin P8 to 0
}

This code works fine on my micro:bits and happily drives my chickbots about.

[2017-09-09 18:29] microsoftsam commented on #2870
Do you remember what versions of the above you were on?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Niels <notifications@github.com>
Sent: Saturday, September 9, 2017 2:51:35 AM
To: Microsoft/pxt
Cc: Sam El-Husseini; Assign
Subject: Re: [Microsoft/pxt] microbit javascript, bacspace doesn't work (#2870)

Closed #2870<https://na01.safelinks.protection.outlook.c

[2017-09-09 21:42] nielsswinkels commented on #2870
Oh... No idea.. and i don't think i can find that anymore

[2017-09-10 04:12] ganicke commented on #2812
Addressed in #2895.

[2017-09-10 04:12] #2812 closed

[2017-09-10 18:02] darzu opened #2896 "Serial communication requires recent firmware; please update docs"
I had this version of firmware on my micro:bit (from details.txt):
![image](https://user-images.githubusercontent.com/6453828/30251564-b6cb5ab0-9616-11e7-92b2-9fb2a70b1ecf.png)

I was unable to read or write from the device using the serial APIs. I tried unplugging, re-plugging the board many times, rebooting the computer, ejecting the USB device, nothing worked. The COM port didn't appear on the

[2017-09-11 03:35] pelikhan commented on #2894
Need to be more defensive when accessing text items for pins

[2017-09-11 06:19] Mofell opened #2898 "There is blue border in selected item"
**Repro steps:**
•	Navigate to https://makecode.microbit.org/beta
•	Click on Projects/Share/?/More...

**Additional info:**
1. The sub-Items are also has blue border when selected on them
2. In firefox, when selected on ?/More…, there is blue border on the selected item and dropdown list.
![border1](https://user-images.githubusercontent.com/23447632/30260761-df304b1a-96fb-11e7-9c02-cfab5e12ad56.PN

[2017-09-11 08:16] abchatra commented on #2898
This is a accessibility change and by desgn

[2017-09-11 08:16] #2898 closed

[2017-09-11 12:47] #2854 closed

[2017-09-11 12:48] #2874 closed

[2017-09-11 13:24] pelikhan opened #2899 "Blocks editor should handle large/small numbers gracefully"
Currently, entering a too number too big gets reported as an error in the backend, we should handle this case more gracefully.

[2017-09-11 16:29] tballmsft opened #2900 "remove mbed dependencies from pxt-common-packages"
There are a number of mbed dependencies in pxt-common-packages that should be removed:

https://github.com/Microsoft/pxt-common-packages/search?utf8=%E2%9C%93&q=mbed&type=

[2017-09-11 16:35] veler commented on #2535
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:36] veler commented on #2546
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:36] veler commented on #2547
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:36] veler commented on #2604
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:36] veler commented on #2628
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:37] veler commented on #2647
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:37] veler commented on #2649
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2795
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2796
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2798
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2802
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2804
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:38] veler commented on #2805
Fix available on [https://makecode.microbit.org/](https://makecode.microbit.org/)

[2017-09-11 16:45] #2789 closed

[2017-09-11 16:46] tballmsft commented on #2900
in pxt.h:
[code]

[2017-09-11 17:11] pelikhan opened #2901 "Missing padding in hint dialog"
![image](https://user-images.githubusercontent.com/4175913/30287354-93e9f326-96d9-11e7-86f1-988e671ded28.png)

[2017-09-11 18:33] pelikhan opened #2902 "Incorrect conditional compilation"
This program enters the "showString" branch when .length is zero.

[code]

[2017-09-11 21:28] veler opened #2903 "Hidden menu position issue on Chibitronics"
With Chibitronic, on every browsers, by using **PXT-Core with the accessibility feature from the master branch**, the hidden menu is not positioned correctly :

![capture](https://user-images.githubusercontent.com/3747805/30297649-50284308-96fd-11e7-8ddc-6656b692e07b.PNG)

[2017-09-11 21:36] veler commented on #2903
Issue moved to [https://github.com/Microsoft/pxt-chibitronics/issues/67](https://github.com/Microsoft/pxt-chibitronics/issues/67)

[2017-09-11 21:36] #2903 closed

[2017-09-11 22:45] ganicke commented on #1340
Paged added to list MES events: https://github.com/Microsoft/pxt-microbit/pull/535.

Not sure if help linking in general for enum values is enabled at this point.

[2017-09-11 22:45] #1340 closed

[2017-09-12 08:52] yanlxu opened #2919 "The simulator couldn't display when open the example project "Game of Life""
Repro steps:
• Navigate to https://makecode.microbit.org/beta
• Click "Projects" in the Menu bar
• Click the "Examples"
• Select the project "Game of Life" to open

Expected result:
 The simulator could display
 Actual result:
 The simulator couldn't display

![example-game-of-life](https://user-images.githubusercontent.com/11880996/30316730-b1bca04a-97da-11e7-99eb-4a0399345256.gif)

[2017-09-12 09:18] yanlxu opened #2920 "The focus of mouse was not on the correct element"
Repro steps:
• Navigate to https://makecode.microbit.org/beta on FireFox
• Drag block "show leds" and put it under the block "on button A pressed"
• Change the all element values to 1 in the forth line of the block "show leds"
• Move the mouse to the elements in the third line

Expected result:
The focus was on the elements in the third line
Actual result:
The focus was still on the elements in th

[2017-09-12 09:18] v-mesala commented on #2808
Verified on URL:https://makecode.microbit.org/projects and issue is fixed now. Hence closing the bug.

[2017-09-12 09:18] #2808 closed

[2017-09-12 09:19] v-mesala commented on #2807
Verified on URL:https://makecode.microbit.org/projects and issue is not fixed now. Hence reactivating the bug.

[2017-09-12 09:22] v-mesala commented on #2804
Verified on URL:https://makecode.microbit.org/projects and issue is fixed now. Hence closing the bug.

[2017-09-12 09:22] #2804 closed

[2017-09-12 09:23] v-mesala commented on #2803
Verified on URL:https://makecode.microbit.org/device/error-codes and issue is not fixed now. Hence reactivating the bug.

[2017-09-12 09:25] v-mesala commented on #2802
Verified on URL: https://makecode.microbit.org/projects and issue is not fixed now. Hence reactivating the bug.

[2017-09-12 09:27] v-mesala commented on #2805
Verified on URL: https://makecode.microbit.org/projects and issue is fixed now. Hence closing the bug

[2017-09-12 09:27] #2805 closed

[2017-09-12 09:28] v-mesala commented on #2800
Verified on URL: https://makecode.microbit.org/projects and issue is fixed now. Hence closing the bug.

[2017-09-12 09:28] #2800 closed

[2017-09-12 09:29] v-mesala commented on #2799
Verified on URL: https://makecode.microbit.org/projects and issue is fixed now. Hence closing the bug

[2017-09-12 09:29] #2799 closed

[2017-09-12 09:29] v-mesala commented on #2798
Verified on URL: https://makecode.microbit.org/reference/basic/show-number and issue is fixed now. Hence closing the bug

[2017-09-12 09:29] #2798 closed

[2017-09-12 09:30] v-mesala commented on #2797
Verified on URL: https://makecode.microbit.org/reference/basic/show-number and issue is fixed now. Hence closing the bug

[2017-09-12 09:30] #2797 closed

[2017-09-12 09:31] v-mesala commented on #2796
Verified on URL: https://makecode.microbit.org/reference/basic/show-number and issue is fixed now. Hence closing the bug

[2017-09-12 09:31] #2796 closed

[2017-09-12 09:32] yanlxu opened #2921 "The comment was opened when don't click the icon of comment"
Repro steps:
• Navigate to https://makecode.microbit.org/beta
• Drag block "show number"
• Right click on the block to "Add comment"
• Click the block "show number"

Expected result:
The comment wasn't opened if don't click the icon of comment
Actual result:
The comment was opened when don't click the icon of comment

![comment](https://user-images.githubusercontent.com/11880996/30318398-9558a6ce-

[2017-09-12 09:32] v-mesala commented on #2795
Verified on URL: https://makecode.microbit.org/projects and issue is not fixed now. Hence reactivating the bug

[2017-09-12 09:33] v-mesala commented on #2649
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug

[2017-09-12 09:33] #2649 closed

[2017-09-12 09:33] v-mesala commented on #2648
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug

[2017-09-12 09:33] #2648 closed

[2017-09-12 09:34] v-mesala commented on #2647
Verified on URL: https://makecode.com/ and issue is not fixed now. Hence reactivating the bug

[2017-09-12 09:35] v-mesala commented on #2628
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug

[2017-09-12 09:35] #2628 closed

[2017-09-12 09:36] v-mesala commented on #2626
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug

[2017-09-12 09:36] #2626 closed

[2017-09-12 09:37] v-mesala commented on #2623
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug

[2017-09-12 09:37] #2623 closed

[2017-09-12 09:39] v-mesala commented on #2624
Verified on URL: https://makecode.com/ and issue is fixed now. Hence closing the bug.

[2017-09-12 09:39] #2624 closed

[2017-09-12 09:43] v-mesala commented on #2528
Verified on URL: https://makecode.microbit.org/acc and issue is not fixed. Hence reactivating the bug

[2017-09-12 09:48] v-mesala commented on #2519
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-09-12 09:48] #2519 closed

[2017-09-12 09:56] v-mesala commented on #2535
Verified on URL:https://makecode.microbit.org/acc and issue is partially fixed. Issue is not fixed for text having Orange background color. Hence reactivating the bug.

[2017-09-12 10:02] v-mesala commented on #2550
Verified on URL: https:/makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-09-12 10:02] #2550 closed

[2017-09-12 10:06] v-mesala commented on #2609
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-09-12 10:06] #2609 closed

[2017-09-12 10:09] v-mesala commented on #2566
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug.

[2017-09-12 10:09] #2566 closed

[2017-09-12 10:12] v-mesala commented on #2564
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug.

[2017-09-12 10:12] #2564 closed

[2017-09-12 10:16] v-mesala commented on #2534
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug.

[2017-09-12 10:16] #2534 closed

[2017-09-12 10:19] v-mesala commented on #2546
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-09-12 10:19] #2546 closed

[2017-09-12 10:21] v-mesala commented on #2547
Verified on URL: https://makecode.microbit.org/acc and issue is fixed now. Hence closing the bug

[2017-09-12 10:21] #2547 closed

[2017-09-12 10:31] v-mesala commented on #2604
Verified on URL: https://makecode.com/ and issue is partially fixed. Hence reactivating the bug.

[2017-09-12 15:20] pelikhan commented on #2894
Fixed.

[2017-09-12 15:20] #2894 closed

[2017-09-12 15:28] veler commented on #2807
We decided that the hidden menu was replacing an automatic focus to the content. @microsoftsam and @abchatra , should we make an exception for this issue?

[2017-09-12 15:38] pelikhan commented on #2634
@tballmsft ping

[2017-09-12 15:51] veler commented on #2535
@microsoftsam , does this orange is property of micro:bit too?

[2017-09-12 15:53] abchatra commented on #2385
Need discussion here as per Jonny

[2017-09-12 16:47] microsoftsam commented on #2535
https://github.com/Microsoft/pxt-microbit/blob/master/theme/site/globals/site.variables#L24

[2017-09-12 16:48] microsoftsam commented on #2535
Find out where this CSS property is authored, if it links to @orange then you know it's the micro:bit orange. If its a custom orange, then it's not..

[2017-09-12 17:26] pelikhan commented on #2467
[code]

The expected behavior is that the game engine is constantly rendering to the screen so ``0`` will go away.

[2017-09-12 17:26] veler commented on #2803
I cannot reproduce the issue in the footer anymore. It focus on the footer and describes it as the footer (which is normal and was not the case before), but does not have a hidden narrator focus anymore after the Microsoft logo.
Can you please take a new video?

@abchatra

![capture](https://user-images.githubusercontent.com/3747805/30339738-d3b5f538-97a4-11e7-9d0f-0fec59c0920a.PNG)

[2017-09-12 17:26] pelikhan commented on #2467
There is a mix up of 2 issues here: game engine and greyscale mode. It seems that the greyscale is fixed.

[2017-09-12 17:49] pelikhan commented on #2408
@veler did the accessibility work add keyboard shortcuts for the simulator?

[2017-09-12 17:55] pelikhan commented on #2330
We must be hitting some URI size limitations that are vendor specific. We'll be a bit more careful about boosting pixel density but eventually it'll fail for large programs.

[2017-09-12 18:00] pelikhan commented on #2467
Documentation updated. Please reopen as needed.

[2017-09-12 18:00] #2467 closed

[2017-09-12 18:03] pelikhan commented on #1962
Closing this issue as it requires an update of DAPLink on the Foundation side to make the file system truly usable by kids.

[2017-09-12 18:03] #1962 closed

[2017-09-12 18:04] pelikhan commented on #778
@riknoll did you have to take another look here?

[2017-09-12 18:10] pelikhan commented on #2405
@microbit-carlos  Would it be more efficient in the simulator and microbit to have the "button WAS pressed" variant?

[2017-09-12 18:21] veler commented on #2535
OK, it's micro:bit orange color. Should we pick a new one and submit it to approval before opening a PR?

[2017-09-12 18:27] tballmsft opened #2924 "remove neopixel code from codal.cpp in pxt-common-packages"
codal.cpp should not have device-specific code like this.

[2017-09-12 18:28] veler commented on #2604
Can you please add more details? What is fixed, what is not?

[2017-09-12 18:37] microsoftsam commented on #2535
This one doesn't have to use the microbit orange. Use a custom one and make it the same for all targets.

[2017-09-12 18:44] abchatra commented on #2604
@v-mesala  @v-amik we need additional information in this bug.

[2017-09-12 21:07] ganicke commented on #2896
Note for the firmware update added in https://github.com/Microsoft/pxt-microbit/pull/538.

[2017-09-12 21:07] #2896 closed

[2017-09-12 21:42] #2899 closed

[2017-09-12 23:07] #2890 closed

[2017-09-13 08:06] DaveAtKitronik commented on #2385
I stumbled across this issue in a different and subtle manner recently (see micro:bit ticket 2640). Jonny suggested bringing the discussion here, so:

Some blocks have implicit pauses internally - with no obvious indication - consider:

![in error](https://user-images.githubusercontent.com/25896029/30365733-8ffaea62-9860-11e7-939a-8695f3ac0010.PNG)

![all ok](https://user-images.githubusercontent.

[2017-09-13 08:37] v-mesala commented on #2803
@abchatra : I have added latest video for the issue. In Scan mode, Narrator reads hidden element "Image".
Prerequisites: Start Scan mode using Caps + Space key and then navigate using down arrow key

[2017-09-13 08:49] v-mesala commented on #2604
@abchatra I have added screenshot where issue is fixed and not fixed for controls
![issue is fixed for hands-on computing education](https://user-images.githubusercontent.com/30434417/30368308-68232b52-988e-11e7-91ae-d5270f8ace2d.png)

[2017-09-13 08:50] v-mesala commented on #2803
@abchatra added latest video
[Narrator reads hidden element image.zip](https://github.com/Microsoft/pxt/files/1298797/Narrator.reads.hidden.element.image.zip)

[2017-09-13 14:57] abchatra commented on #2385
@riknoll
This is the idea suggested by Jonny:

- Register all the events such as onButtonPressed before the OnStart
- Register basic.forever after onStart

I do like this suggestion. What do you think?

[2017-09-13 15:22] microbit-mark opened #2934 "Re-adding Neopixel package breaks editor"
microbit-support:2723

![neopixel](https://user-images.githubusercontent.com/31242877/30384748-0b19ed9c-989d-11e7-9575-84652ea58b53.gif)

To reproduce:

1) Add Neopixel Package
2) Add bluetooth which removes Neopixel package
3) Re-add Neopixel package makes editor hang at Downloading screen.

Tested in Chrome and Opera

[2017-09-13 15:26] Jaqster opened #2935 "Change position of "." in string"
Right now "." shows up at position 2,3.  This is annoying some teachers who want it located at the bottom where a decimal or period would actually show up.  Reported by a teacher through our email.

![decimalperiodposition](https://user-images.githubusercontent.com/22108954/30385827-265e6b5e-985d-11e7-9f5e-6683ea4faa9f.PNG)

[2017-09-13 16:58] riknoll commented on #2385
Works for me! I can add a comment attribute that specifies whether an API should appear before or after on start. I think this just applies to forever right now, but maybe `control.runInBackground()` as well. That is, unless we decide to [allow that to be nested](https://github.com/Microsoft/pxt/pull/2660) which is a breaking change (but one I'm personally in favor of).

[2017-09-13 17:10] riknoll commented on #2385
BTW this is a breaking change. It won't affect 99.9% of scripts, but it is breaking.

[2017-09-13 17:18] abchatra commented on #2385
Lets go with this fix. Thanks!

[2017-09-13 17:19] abchatra commented on #2934
@guillaumejenkins

[2017-09-13 17:35] pelikhan commented on #2385
@mmoskal @tballmsft FYI

[2017-09-13 17:35] pelikhan commented on #2385
Run  in background is another one we should fix. It should be nestable.

[2017-09-13 17:36] riknoll commented on #2385
Let's move that to a different thread

[2017-09-13 17:48] mmoskal commented on #2385
I think treating `forever` and `onShake` differently is inconsistent and doesn't really fix the problem. The initial example could have as well used `onShake` and not `forever`, and it would crash. IMHO either we register all events before the `on start` or all after. I think it's safer to do after, but indeed it is a breaking change.

[2017-09-13 17:49] riknoll commented on #2385
I disagree. `onshake` requires user input on the hardware whereas `forever` runs immediately (or as soon as it can). They have different semantics so it's fair to treat them differently.

[2017-09-13 17:53] mmoskal commented on #2385
@riknoll then it's even worse - you will non-deterministically get crashes depending on how fast you shake.

In some sense it's fair for us to order it as we feel like in JS, since there is no intrinsic order to the blocks...

[2017-09-13 17:54] riknoll opened #2939 "Make control.runInBackground nestable"
This is more a proposal than it is an issue. `control.runInBackground` can safely be nested in other event handlers because the fiber it creates terminates (unlike `forever`) and it doesn't override any event handlers (unlike `onButtonPressed` etc.). We can make it so that you can [nest that block](https://github.com/Microsoft/pxt/pull/2660), but it is a minor breaking change because `control.runI

[2017-09-13 17:56] pelikhan commented on #2939
We could allow runInBackground to be a top level block as well. This, non breaking change but minor version bump.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Richard Knoll <notifications@github.com>
Sent: Wednesday, September 13, 2017 10:55:08 AM
To: Microsoft/pxt
Cc: Peli de Halleux; Mention
Subject: [Microsoft/pxt] Make control.runInBackground nestable (#29

[2017-09-13 17:58] riknoll commented on #2939
Then what happens when you connect a block to the top or bottom of `runInBackground` while it's top level?

[2017-09-13 18:00] pelikhan commented on #2939
Good point. So it is a breaking change. We need to determine how many scripts use this block.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Richard Knoll <notifications@github.com>
Sent: Wednesday, September 13, 2017 10:58:01 AM
To: Microsoft/pxt
Cc: Peli de Halleux; Mention
Subject: Re: [Microsoft/pxt] Make control.runInBackground nestable (#2939)

Then what h

[2017-09-13 18:08] riknoll commented on #2385
I guess that's true, but it's always been the case. The argument can also be made that the wording of the block `forever` vs `onSomeEvent` means the user might not expect them to behave exactly the same when compiled.

[2017-09-13 18:20] tballmsft opened #2941 "add banner and page for academic partners"

[2017-09-13 18:21] tballmsft commented on #2941
current list:

•	Cornell University
o	Kyle J. Harms: https://kharms.infosci.cornell.edu/
o	https://makecode.com/courses/cornellMPS2017
•	Imperial College London
o	Ben Glocker: http://wp.doc.ic.ac.uk/bglocker/
o	In discussion to use makecode.com in course to create STEM projects for local schools in UK
•	University of Colorado, Boulder
o	Professor Ben Shapiro (http://benshapi.ro/) - using makecode

[2017-09-13 21:36] ganicke commented on #1572
Hi @DavidWhaleMEF,

Finally got into this issue. I'd tried a couple of scenarios and here are the results:

[1] Use **serial.writeValue()** for each data item
---
[code]
The resulting rows:
[code]
![image](https://user-images.githubusercontent.com/27789908/30400558-1e0f6096-988c-11e7-9347-5abe534cb196.png)

[2] Use **serial.writeString()** once for all data items
---
[code]
The resulting rows:
[co

[2017-09-14 06:49] DavidWhaleMEF commented on #1572
Thanks! The output format looks very odd to me. If this is expected behaviour, is it possible you could document it somewhere so that users have a chance of knowing what to expect from it, and they can then use this to design an appropriate parser for it? Thanks!

[2017-09-14 08:06] DaveAtKitronik commented on #2385
I would expect - trying to think from a non expert POV - that if I programmed on start it would be the first thing to run, and it would complete before forever - which is the only other 'code' area I write - starts.
I am not sure how a non expert would view hardware driven events (on shake etc).
I think that it would be reasonable to expect them to 'just work'.
This code:

![shakybreaky](https://u

[2017-09-14 09:29] microbit-carlos commented on #2385
From my point of view having "events" like on shake or a button press execute before the "on start" finishes it's a valid expectation, as you could easily explain that you are triggering that event on micro:bit before it finishes execution that portion of the code.
However, they way blocks like `forever` and `run in background` are named do no "feel" like events, in this case it is harder to expla

[2017-09-14 10:38] microbit-mark opened #2943 "Getting started Tutorial does not start in non-English languages"
![dutch](https://user-images.githubusercontent.com/31242877/30425435-242bdfd0-9941-11e7-8c19-6dccb12b620a.gif)

Steps to reproduce:

1) Change language (tested french, japanese, dutch)
2) Click on Getting Started

[2017-09-14 11:30] microbit-carlos commented on #2405
@pelikhan are we talking about adding a new block? That might be useful, but this long press would still be a problem on touch screen devices, no?

[2017-09-14 14:12] pelikhan commented on #2405
There is a hold event triggered by the hardware so having a hold gesture to lock in the button would introduce another discrepancy.

[2017-09-14 14:40] abchatra commented on #2385
Also anyone coming from Arduino world, expectation is forever starts only after on-start code executed. We differ from there. My vote is to original proposal from @jaustin

1. Register all the user events such as onButtonPressed before the OnStart
2. Register basic.forever and run in background after onStart

[2017-09-14 15:29] abchatra commented on #2943
@microsoftsam Can you take a look? This looks like a blocking bug.

[2017-09-14 19:59] microbit-carlos commented on #2405
Could the browser long press event on touch devices be capture to simply maintain the button pressed as happens on desktop?

[2017-09-14 20:19] ganicke commented on #1572
The situation is that the values are aggregated in arrays based on a name. These name-to-value arrays are then formatted by code that makes the csv. This is in [logs.ts](https://github.com/Microsoft/pxt/blob/master/pxtsim/logs.ts) which I haven't studied enough yet to see why the format is the way it is. My guess is that comes from a JSON layout used for streaming to Azure. I'll get some notes on

[2017-09-14 21:22] microsoftsam commented on #2943
Fixed, and have verified fix is live.

[2017-09-14 21:22] #2943 closed

[2017-09-14 21:24] abchatra commented on #2943
Thanks @microsoftsam

[2017-09-14 22:15] DavidWhaleMEF opened #2947 "Heap corruption 030 when using array.removeAt() in radio receive"
I'm nose up to the wall getting a resource/demo finished, but wanted to note this here for now. Will try to build a repro case soon. But my workaround was to use array.removeElement() instead.

If I use array.removeAt() of a known index, in a radio receive handler, inside a custom namespace function, it seems to mess up the garbage collection somewhere. I get a panic 030. I also sometimes get 3 LE

[2017-09-14 22:51] abchatra commented on #2947
@DavidWhaleMEF Can you share your program?

[2017-09-15 04:02] ganicke commented on #1572
@riknoll, would you have any comments on why the format is like this?

[2017-09-15 05:58] pelikhan commented on #1572
Columns ABCD are preprocessed rows containing the data stream displayed on streams. You can select those in Excel and do a scatter plot. Columns E,F,G are the row log messages.

[2017-09-15 15:58] veler commented on #2408
As Microbit doesn't support a long press, but just the state "pressed" (push the button down then back, and only at this moment an event fire), this feature is actually not available in Microbit.

But it is available for Adafruit as the board supports a long press feature. You can already do it with the mouse and it will be soon available with the keyboard.

[2017-09-15 16:29] microbit-carlos commented on #2408
The micro:bit DAL does support a long press event, which is why the event is fired on release rather than on pressed down.

[2017-09-15 16:34] microbit-carlos commented on #2408
I would have to check again, but if memory serves me right MakeCode at the moment does not differentiate between short and long press (please somebody correct me here if I'm wrong!). So not sure if that is something that would have be discussed if we want to add it as a new block, or how that difference would affect the accessibility assessment.

[2017-09-15 22:53] microsoftsam opened #2954 "File not found ts errors in build: no-default-lib.d.ts"
Building pxt-adafruit yields these error messages in the build.

[code]

[2017-09-16 02:52] lian1925 opened #2955 "Browser throws an error when runing pxt serve for pxt-microbit"
Following the instructions in the pxt-microbit README, after running `pxt serve`, chrome browser is opened but it throw some error on the browser's console as follow:

[code]

[2017-09-16 13:37] DavidWhaleMEF opened #2956 "Ooops we could not load the documentation"
parseInt() has no help, goes to a 404 page...

Actually goes here...
https://makecode.microbit.org/reference//parse-Int

But this doesn't work either.
https://makecode.microbit.org/reference/parse-Int

Reproduce by highlighting parseInt in javascript  code, right click and choose HELP from pop up menu.

[2017-09-16 13:39] DavidWhaleMEF opened #2957 "How to detect error in conversion in parseInt"
There are no docs for parseInt() currently.

How would we detect a parse error if a non numeric value was passed to parseInt?

[2017-09-18 02:27] mmoskal commented on #2385
I guess this is fine, since the behavior is crystal-clear in JavaScript.

[2017-09-18 02:56] ganicke commented on #1572
Page added to describe logging and using the log files.

https://github.com/Microsoft/pxt-microbit/pull/540.

[2017-09-18 02:56] #1572 closed

[2017-09-18 14:52] Geoffree3 commented on #2029
Since migrating to the new JavaScript Blocks editor I've noticed the fans on my MacBook running full speed (normally you can't hear them).  Looking at the CPU usage, it's almost at 100% and this does not change when the simulator is stopped. This was using Opera browser.  I check on Safari and Chrome and they show about 35% CPU, which increase to about 70% when full screen micro:bit display.
This

[2017-09-18 15:25] abchatra commented on #2956
@ganicke Can you take a look?

[2017-09-18 15:27] abchatra commented on #2957
https://github.com/Microsoft/pxt/blob/339364648f980b4de1fc9c172372da015c26e97d/common-docs/reference/text/parse-int.md

[2017-09-18 15:28] abchatra commented on #2957
We will update the link to documentation.

[2017-09-18 16:08] pelikhan commented on #2029
What script are you running?

[2017-09-18 16:13] pelikhan commented on #2939
Instead of a breaking change, we can introduce a new block that is nestable (and deprecate 'runInBackground'). ``control.fork`` anyone?

[2017-09-18 18:10] Geoffree3 commented on #2029
Empty script.  Just micro:bit on screen -> 101% CPU load.  Opera browser.

[2017-09-19 04:24] #2954 closed

[2017-09-19 08:22] Helen09 opened #2963 ""Search box" is not selected completely on Firefox&IE"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta on Firefox&IE
• Click on Search box

**Expected result:**(chrome,Safari)
 When "search box" is foucused, "search box" should like below picture
![2](https://user-images.githubusercontent.com/23466737/30581790-eed9bf16-9d53-11e7-94f6-91787d3d8bd5.png)

 **Actual result:**
  When "search box" is foucused, "search box" likes below pict

[2017-09-19 08:43] Helen09 opened #2964 "Simulator can't display when opening example "Radio Dashboard""
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta
• Click "Projects" in the Menu bar
• Click the "Examples"
• Select the project "Radio Dashboard" to open

**Expected result:**
 The simulator could display
 **Actual result:**
 The simulator couldn't display
![1](https://user-images.githubusercontent.com/23466737/30583292-3c225ddc-9d59-11e7-8749-f8efc52033ea.gif)

[2017-09-19 08:58] Helen09 opened #2965 "Projects can't be loaded successfully"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta
• Click "Projects" in the Menu bar
• Click the "Projects"
• Select the one project for example "Smiley Buttons" to open

**Expected result:**
 This project should be opened successfully
**Actual result:**
 This project can't be loaded
![2](https://user-images.githubusercontent.com/23466737/30584020-199391c6-9d5b-11e7-8462-75399c8129

[2017-09-19 09:02] Mofell opened #2966 ""neopixel" is un-selected when moving mouse on it"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta
• Click on Advanced->Add Package
• Click blank area and move(not click) mouse on the three packages

**Expect Result:**
When moving mouse on nepixel, neopixel should be selected with blue border like devices and Bluetooth.
**Actual Result:**
No blue border on neopixel
![addpackage](https://user-images.githubusercontent.com/23447632/

[2017-09-19 09:14] Helen09 opened #2967 ""Save" icon wasn't selected on Mac"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta on Firefox&Safari on Mac
• Click on "save" button

**Expected result:**
When click "save" button, "save" button should be selected with blue box
![sep-19-2017 16-59-53](https://user-images.githubusercontent.com/23466737/30584612-de9f27a4-9d5c-11e7-8b5e-98d55a447a65.gif)

**Actual result:(Firefox&Safari)**
When click "save" button, "

[2017-09-19 13:21] Dealerpriest opened #2968 "Simulator scrolling text different from hardware"
When using the "show number" block to show numbers with more than one digit, the behaviour is different between the simulator and the microbit hardware. On the microbit there is a space added after the scrolling number which makes it easier to spot the start and end of the number. This is not the case in the simulator. Instead the number just scrolls in a steady stream.
### Example
Want to show th

[2017-09-19 13:23] nielsswinkels commented on #2968
https://makecode.microbit.org/_6MsfihCqtPfw

[2017-09-19 13:33] Carlborg opened #2969 "Not all blocks have icons (low priority issue)"
The top left of most blocks show the corresponding block category icon.
Some blocks don't show this however. For instance in the category "Basic", all blocks except the "on start"-block have an icon. Other categories that have blocks without icons are: loops, logic, variables, math, functions, arrays and text.

[2017-09-19 15:03] HelenFoster commented on #2408
MakeCode for the micro:bit does already differentiate between short and long press, it's just not implemented in the simulator #2445

[2017-09-19 15:06] HelenFoster commented on #2467
No mix up: the game engine was previously triggering the greyscale issue. But indeed it seems to be fixed.

[2017-09-19 22:17] ganicke commented on #2956
Looks like contextual help for built-ins is broken. Doesn't work for things like

[code]

[2017-09-19 23:24] ganicke commented on #2956
Debugged this and it is due to the fact that the help path info is scraped from the line text in Monaco. So, ``parseInt()`` has no **namespace** to associate with it from the regex on the line of code. The path is missing the _/text/_ portion to complete it properly. Unfortunately, the editor context code and the block tip information aren't known to each other so the context help is just a 'guess

[2017-09-19 23:37] microsoftsam opened #2978 "Slow mo highlighting highlights the entire stack"
![screen shot 2017-09-19 at 4 36 20 pm](https://user-images.githubusercontent.com/16690124/30620214-d6012fa6-9d58-11e7-9a40-10c320650f70.png)

[2017-09-19 23:38] microsoftsam commented on #2978
@pelikhan @Jaqster @abchatra should it highlight a single one, or do we like this behaviour?

[2017-09-19 23:48] pelikhan commented on #2978
It should only highlight the current block IMO.

[2017-09-20 00:04] microsoftsam commented on #2956
Ah yes makes sense. Thanks @ganicke.
I can look into a fix for this. We just need to support both the case where there is a namespace and when there isn't.

[2017-09-20 01:01] leeshineSZ opened #2981 "which kind of MCU does the PXT support?"

[2017-09-20 04:41] Jaqster opened #2984 "Rock Paper Scissor Tutorial missing Variables drawer"
This was reported by a School, and by the Micro:bit Foundation.

[2017-09-20 05:10] microsoftsam opened #2985 "Fullscreen scrolling broken on IE 11"
Projects dialog doesn't scroll when it's sized so that it needs to scroll to show more items.

Note: broken in master
Works fine in v0.

[2017-09-20 05:43] microsoftsam commented on #2969
Thanks for bringing this up.
Built-in blocks don't have icons associated with the block. In general, we have found that adding the icon on the block doesn't help in the understanding of what the block does, and that the color is a good enough link to associate a block with it's category.
We have found the icons tend to clutter the block, and distract students from the real description of what a bl

[2017-09-20 05:53] microsoftsam commented on #2967
This is due to the default Accessibility settings on mac. The issue you see here is that both Safari and Firefox on mac respect the system preferences for tab focus, and only focus on an element when it is tabbed to using a keyboard. Clicking on a button doesn't enable it's focus, which it does in other browsers.

There's no real way around it, to read up more about the issue, here's a good explan

[2017-09-20 05:54] #2967 closed

[2017-09-20 06:04] microsoftsam commented on #2964
The example works fine if it's loaded in JS, but breaks when its converted to Blocks.
This is problematic @riknoll. Something in that example is causing the clients array to lose it's const declaration

[2017-09-20 06:06] microsoftsam commented on #2965
Can't repro.

[2017-09-20 06:21] Helen09 commented on #2965
It still repro on every browser. After choosing project "Flashing heart", it will navigate to the "Getting Started" page rather than open project on the right-page.

[2017-09-20 06:23] microsoftsam commented on #2965
Sounds like you're describing a different thing.

Some projects, are now "tutorials". Tutorials open up in tutorial mode, similar to the getting started. That is by design.

[2017-09-20 06:23] #2965 closed

[2017-09-20 07:14] #2985 closed

[2017-09-20 08:35] nielsswinkels opened #2992 "Can't translate some blocks"
We can't find where to translate the blocks you see when you click on the gear icon on an If-statement:

![microbit-skarmbild](https://user-images.githubusercontent.com/5718354/30633349-a5b181aa-9deb-11e7-8b72-2f424adfca61.png)

Also missing is where to translate the default name of a function "doSomething".

Also I can't find where to translate "on radio received" and all the variables that belon

[2017-09-20 08:37] nielsswinkels commented on #2969
So will you remove them instead on the ones that have it now? There doesn't seem to be much logic behind why some have it and some don't

[2017-09-20 08:44] microsoftsam commented on #2969
I believe the answer to that question is a no, since it breaks many screenshots that have already been taken of the micro:bit editor, primarily books.
I'll defer to @jaustin and @pelikhan to determine if there is something that can be done here.

[2017-09-20 08:58] microsoftsam commented on #2984
Fixed by https://github.com/Microsoft/pxt/pull/2990

[2017-09-20 08:58] #2984 closed

[2017-09-20 09:02] pelikhan commented on #2984
The tutorial is exposed as a project until we push the fix to master.

[2017-09-20 09:03] microsoftsam commented on #2920
Dupe of #2721 ?

[2017-09-20 09:07] microsoftsam commented on #2919
Another issue with decompilation @riknoll.

[2017-09-20 09:15] microsoftsam commented on #2858
Tried this on Safari 11. and it works fine.
It's weird to me that this is a browser specific issue.

[2017-09-20 09:16] microsoftsam commented on #2864
Fixed.

[2017-09-20 09:16] #2864 closed

[2017-09-20 09:19] microsoftsam commented on #2848
Just like we don't support breadboarding in the mobile view, we shouldn't really support servo. The issue you see here is because Blockly is stealing all the touch events, the microbit should use the bottom section dedicated to it only, and not bleed out into the editor.

[2017-09-20 11:03] nielsswinkels commented on #2992
Found another one: the "more..." on the category Math does not get translated, while all other ones are. So I guess that's just a bug.

[2017-09-20 13:10] nielsswinkels commented on #1324
Is there a way to force the forever loop to wait for the onstart to be done, even though there is a wait in the onstart? It is very unintuitive.

Example code that contains a wait in the onstart:
https://makecode.microbit.org/_6aaJEueisWD5

[2017-09-20 13:15] nielsswinkels opened #2993 "forever execute before onstart is done when running slow motion mode"
When running in slowmotion mode the forever loop starts executing before onstart is completed (even if there is no delay in the onstart)

![microbit slowmo bug500x225](https://user-images.githubusercontent.com/5718354/30645607-8784b6ea-9e16-11e7-8c98-dc7c2f38f338.gif)

[2017-09-20 13:27] nielsswinkels commented on #1324
Related thread with more discussion: https://github.com/Microsoft/pxt/issues/2385

[2017-09-20 13:27] nielsswinkels commented on #2993
kind of related: https://github.com/Microsoft/pxt/issues/2385

[2017-09-20 14:19] pelikhan commented on #1324
The next deployment of the editor will enforce this behavior.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Niels <notifications@github.com>
Sent: Wednesday, September 20, 2017 6:27:29 AM
To: Microsoft/pxt
Cc: Peli de Halleux; Comment
Subject: Re: [Microsoft/pxt] forever executes code before onStart has completed (#1324)

Related thread with more discussion: #2

[2017-09-20 15:06] abchatra commented on #1324
This is fixed. Fix will be available in next release

[2017-09-20 16:09] abchatra commented on #2993
This is fixed. @riknoll confirm. It will be in the next release of micro:bit

[2017-09-20 16:09] #2993 closed

[2017-09-20 16:09] abchatra commented on #2981
Samd21 today

[2017-09-20 16:12] abchatra commented on #2978
It should only highlight the block. Otherwise I can't image how execution of the if\elseif blocks looks like

[2017-09-20 16:15] abchatra commented on #2992
@pelikhan Can you take a look?

[2017-09-20 22:49] sgk opened #2998 "Strings server may not be serving latest strings"
According to the "Help translate" page, the translation strings are almost "live" by loading the translation strings files on the fly. But, the translation strings files may not be latest.

For example, the string "pick random 0 to %limit" was translated and approved 4 days ago for Japanese. The translation does not appear for Japanese, but it appears for Swedish (Sweden).

![image](https://user-i

[2017-09-21 05:37] pelikhan commented on #2998
The editor refuses to use strings where the syntax of the strings has been messed up:

![image](https://user-images.githubusercontent.com/4175913/30680402-3bfcded0-9e54-11e7-8e3d-63c35b84f67e.png)

[2017-09-21 05:37] pelikhan commented on #2998
I think in your case it is the %1 that messing things up.

[2017-09-21 06:07] v-mesala commented on #2795
Verified on URL: https://makecode.microbit.org/projects and issue is not fixed now. Hence reactivating the bug. Attached latest video
[Issue is not fixed.zip](https://github.com/Microsoft/pxt/files/1320122/Issue.is.not.fixed.zip)

[2017-09-21 06:32] microsoftsam opened #3003 "Why does this broken code decompile?"
@riknoll the test() method doesn't exist. Shouldn't this complain and not go back to blocks..

[code]

[2017-09-21 06:33] microsoftsam commented on #3003
Note: only in v0

[2017-09-21 20:23] riknoll commented on #3003
It's the same issue as https://github.com/Microsoft/pxt/issues/2890

[2017-09-21 22:13] #2964 closed

[2017-09-21 22:50] ganicke commented on #1771
Seems that package load fails for "Devices" in **complieAsync** for the embedded sim.

![image](https://user-images.githubusercontent.com/27789908/30722177-84115c42-9ee4-11e7-90f5-606ad0233272.png)

[2017-09-22 03:21] sgk commented on #2998
Thank you and sorry for that. That was messed.

[2017-09-22 03:26] pelikhan commented on #2998
No worries! We should document how to diagnose these.

[2017-09-22 03:26] #2998 closed

[2017-09-22 17:23] abchatra commented on #1771
thanks @ganicke I will take a look

[2017-09-24 15:50] #2901 closed

[2017-09-24 15:51] microsoftsam commented on #3003
True. Thanks @riknoll

[2017-09-24 15:51] #3003 closed

[2017-09-24 16:33] microsoftsam commented on #2978
There's some implementation detail the scratch-blocks rendering here. We're calling stack glow when we want to highlight a block which glows the entire blockly stack, in Blockly that means highlighting a block and all it's nested blocks inside of it. (so the behaviour we're seeing makes sense above).
The fix is a little tricky, say we move the filter being applied back to how Blockly did it, on th

[2017-09-24 16:58] lian1925 opened #3027 "Following pxt-microbit readme throws an error at pxt serve"
Trying to get a pxt dev environment set up so I can create my own target, starting by trying pxt-microbit.

Following the instructions in the pxt-microbit README gives the following output when running pxt serve:
[code]
Besides, my enviroment is node v8.5.0 , OS X 10.10.5

[2017-09-24 19:23] Jaqster commented on #2978
Yeah, I think this works - clearly shows what block is being called/executed.

[2017-09-24 20:38] ractive commented on #2462
I have a similar issue where calling shift() on an array of sprites fails with a "Program error: sim: check failed" error:
[code]

[2017-09-25 04:32] tballmsft opened #3029 "untagged execution strategy (pxt-common-packages)"
- [ ] random
- [ ] String
- [ ] Boolean
- [ ] Math
- [ ] Buffer
- [ ] numeric operations
- [ ] bit-shift operations
- [ ] comparisons

[2017-09-25 09:18] microbit-mark commented on #2837
Any update on this one @abchatra ?

[2017-09-25 10:49] ractive commented on #2462
BTW: This example also runs on the actual board and only fails in the simulator.

[2017-09-25 15:33] abchatra commented on #2837
@pelikhan  any clue what might be the issue here?

[2017-09-25 15:33] abchatra commented on #2837
We have moved OnStart before forever in the latest bits. I am not sure if that helps here.

[2017-09-25 16:07] microbit-carlos commented on #2837
The issue occurs with the "change score by" block, which is running on the "forever" loop already, when OnStart has finished running already.

[2017-09-25 17:52] pelikhan commented on #2462
![image](https://user-images.githubusercontent.com/4175913/30822996-aaf18f0a-a1df-11e7-9a17-06cb096171d4.png)

[2017-09-25 21:02] #2462 closed

[2017-09-25 22:53] mmoskal commented on #2462
Don't we need to cherry-pick to `v0`?

[2017-09-25 23:44] pelikhan commented on #2462
Yes, got auto-closed by github. Cherry-picking

[2017-09-26 14:46] tyrra opened #3045 "Variable declaration messed up when switching from block to text and viceversa"
### This issue regards the pxt editor (block and text) for the microbit:

When setting a value to a variable in the 'On start' block before e.g a 'Forever'-loop and then switching to textmode will have the variables declared at the top and the value 0 assigned to them. My own declarations will be done after the loop, at the bottom.
Even if i change this in the textmode to have my values to the var

[2017-09-26 15:09] abchatra commented on #2385
@riknoll this is ported to v0 right?

[2017-09-26 15:10] abchatra commented on #2856
@riknoll this is fixed right. Resolved.

[2017-09-26 15:10] #2856 closed

[2017-09-26 15:11] #2385 closed

[2017-09-26 15:11] abchatra commented on #2385
fixed

[2017-09-26 15:31] abchatra commented on #3045
Basic.forever is an event (similar to a thread or fiber) and it is designed to be before the on-start block on javascript editor. Blocks have no linear hierarchy but the javascript does. We need to choose to put the basic.forever block either before or after the javascript while converting from blocks.

We could ideally remember what user has chosen and do the same. That is a feature level change

[2017-09-26 17:34] guillaumejenkins commented on #2531
Simulator is now localizable and correctly loads translations

[2017-09-26 17:34] #2531 closed

[2017-09-27 06:52] Helen09 opened #3055 "Focused area is not correct on "?" & setting on firefox"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta on Firefox
• Use tab navigate to "?" & "setting"

**Expected result:(Edge,chrome,Safari)**
 When "?" is foucused, selected area should like below picture
![untitled2](https://user-images.githubusercontent.com/23466737/30899517-ba47c6f4-a392-11e7-9faa-29ea1a9e9080.png)

**Actual result:(firefox)**
 When "?" is foucused, selected area

[2017-09-27 07:42] Helen09 opened #3056 "Can't go to "projects", "Reference", "Blocks", "JavaScript", "HardWare" under "?""
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta
• Navigate to "?"
• Go to click "projects", "Reference", "Blocks", "JavaScript", "HardWare"

**Expected result:**
All pages should be opened successfully

**Actual result:**
After clicking these options, page all shows starting tutorial... and can't go to page successfully
![1](https://user-images.githubusercontent.com/23466737/3090

[2017-09-27 11:38] WendyFeng01 opened #3057 "There is a redundant box in documentation"
**Repro steps:**
• Navigate to https://makecode.microbit.org/beta
• Drog out "create array with" block in Arrays
• Right click block and click "help"
• Observe the documentation

**Expected result:**
There is no box there or some blocks in the box
**Actual result:**
![blank](https://user-images.githubusercontent.com/23497626/30911413-615c3da4-a33d-11e7-8175-cd552bee8898.PNG)

[2017-09-27 11:42] pelikhan commented on #3056
Broken by https://github.com/Microsoft/pxt/pull/2906

[2017-09-27 11:56] #3056 closed

[2017-09-27 11:59] pelikhan commented on #2330
This issue is fixed. We turn off oversampling for large projects, it will eventually fail again for massive projects.

[2017-09-27 11:59] #2330 closed

[2017-09-27 12:02] pelikhan commented on #2284
Fix deployed to v0.13.23.

[2017-09-27 12:02] #2284 closed

[2017-09-27 12:04] pelikhan commented on #2408
@microbit-carlos the micro:bit does differenciate hold, click, double-click, etc... If we introduce a hold gesture, we would not be able to support these events in the future.

[2017-09-27 12:04] pelikhan commented on #2634
@mmoskal ping

[2017-09-27 12:15] DavidWhaleMEF opened #3059 "Indentation failure when using array indexing"
The following code fails to correctly indent the basic.pause() statements when moving from blocks to javascript

[code]

[2017-09-27 12:20] DavidWhaleMEF commented on #3059
Also, when I switch back and forth between javascript and blocks, it inserts an array initialiser in the onstart that then makes the program invalid. If I delete that in the blocks view, the program works. If I switch back to javascript then back to blocks, it appears again.

![screen shot 2017-09-27 at 13 19 42](https://user-images.githubusercontent.com/25079586/30913039-abb1c6fa-a386-11e7-8762-9

[2017-09-27 15:27] pelikhan commented on #3059
Please open separate issues, it is easier to prioritize.

[2017-09-27 15:56] microbit-carlos commented on #2408
Okay, so MakeCode does currently differentiate between click and long click events? But it is not implemented in the emulator? Why would introducing a "hold gesture" block the ability to support these events in the future?

The original ticket was about enabling a way within for the emulator UI to be able to "physically" press the button without locking the mouse in a click action, so that the use

[2017-09-27 16:23] jpiay commented on #2408
What about a "KEEP PRESSED" check button?

[2017-09-27 16:55] abchatra commented on #2978
We will keep this issue open

[2017-09-27 16:56] abchatra commented on #2978
![slowmo](https://user-images.githubusercontent.com/6107272/30897811-2856912e-a30d-11e7-96fa-12f85d6834dc.gif)

[2017-09-27 17:00] abchatra commented on #2978
@riknoll if you are done with your P1 issues can you take a look. @microsoftsam has other P1's to address.
This is P2 and I would ship craft without it, but would like to see if there is any way around it.

[2017-09-27 17:05] pelikhan commented on #2978
Slow-Mo is P3 IMO. What are the usage statistics on that feature?

[2017-09-27 17:19] ganicke commented on #3057
Fixed in https://github.com/Microsoft/pxt/pull/3063. Will do a pick down to ``v0``.

[2017-09-27 17:19] #3057 closed

[2017-09-27 17:41] abchatra commented on #2978
Slow-mo is low usage. But this is giving a low quality vibe to the editor whoever tries this. Talking to Richard, I think we should decide to keep this broken kind of behavior or go back to original proposal from @microsoftsam to keep scratch block highlighting the entire stack. Let us take this up in the design meeting today.

[2017-09-27 17:42] pelikhan commented on #2978
This is the kind of non-trivial fixes that involves messing around with the block layout algorithm. We are better spending time finishing a proper debugging experience.

From: Abhijith Chatra [mailto:notifications@github.com]
Sent: Wednesday, September 27, 2017 10:41 AM
To: Microsoft/pxt <pxt@noreply.github.com>
Cc: Peli de Halleux <jhalleux@microsoft.com>; State change <state_change@noreply.githu

[2017-09-27 17:48] mmoskal commented on #2634
Probably won't be supported unless there's a good reason.

[2017-09-27 17:50] pelikhan commented on #2634
It's quite common in JavaScript to use objects as hashtables to do lookups and stuff.

[2017-09-27 21:04] ganicke opened #3068 "Add description of @fullscreen tag to /writing-docs/tutorials.md"
Include a section on using the fullscreen tag.

[2017-09-27 21:18] abchatra commented on #2978
Lets keep this for now

[2017-09-27 22:29] riknoll commented on #3059
That second issue will be fixed in the next release

[2017-09-28 01:00] lct4246 commented on #2385
The same problem, Somebody can help me.
I can't resolve this Gold Rush code (http://www.101computing.net/gold-rush/).
Here is the hex file. https://drive.google.com/file/d/0B_9NUWwOyRGISTJBT1pYSzhVSDg/view?usp=sharing

[2017-09-28 05:06] pelikhan commented on #2385
It seems that the conversion failed on a variable assignment. Try this patched version:

    https://makecode.microbit.org/_TVWKArCuCCFT

[2017-09-28 05:52] ganicke commented on #3068
Tutorials.md updated in #3073.

[2017-09-28 05:52] #3068 closed

[2017-09-28 08:29] lct4246 commented on #2385
Thank you so much.

[code]

[2017-09-28 19:35] pelikhan opened #3080 "docsrender should ignore @fullscreen annotation"
@fullscreen is an internal marker for tutorial, should be ignore when rendering to flat markdown.

[2017-09-29 07:21] DaveAtKitronik opened #3084 "Update of custom packages could be slicker"
I recently had to update a package, due to a bug fix.
It is not obviously clear that there needs to be a bump to the version number to ensure that the ew package gets picked up by editors.
@pelikhan suggested filing a bug for discussion.

[2017-09-29 09:37] microbit-pauline opened #3085 "Code Neopixels - MakeCode error (micro:bit support ticket 2880)"
The customer is using  MakeCode website: https://makecode.microbit.org/#
to code some neopixels. They have created some simple code to make all the lights go red.

Comment - "The code is incorrect: I have not changed the variable item to MyLights.
When I tried to press the A button on the micro:bit simulator I get an useful error "Program Error: r.isRef is not a function"
![isref](https://user-ima